<div class="col-xs-12" id="dashboards-list-scrollup" ng-click="scrollUp()" ng-show="canScrollUp()">
    <span class="glyphicon glyphicon-chevron-up"></span>
</div>
<div class="col-xs-12">
<div ng-repeat="dashboard in mydashboards track by $index | searchDashboards:criteria ">
    <div class="dashboards-box col-xs-12 col-md-12 col-lg-6">
        <div responsive-nav-type class="dashboards-item" ng-class="{'dashboards-item-active': isDashboardSelected(dashboard)}" ng-click="showDashboard(dashboard)">
            <!--ici tenir compte de l'affichage d'un dash public en favoris même si je suis le créateur-->
            <!-- <span class="dash_favourite" aria-hidden="true" ng-click="removeFavourite(dashboard);$event.stopPropagation()">
                <img style="height:20px" src="/assets/images/icon/public_favoris_on.png" />
            </span> -->
            <div class="dash_name" ng-attr-title="{{dashboard.name.length > 30 ? dashboard.name : undefined }}">{{dashboard.name | limitTo: 20}}{{dashboard.name.length > 20 ? '...' : ''}}</div>
            <div ng-hide="dashboard.reachable" class="dash_private" aria-hidden="true">
                &nbsp;<!--<img style="height:20px" src="/assets/images/icon/lock.png" />-->
            </div>
        </div>
    </div>
</div>
<div ng-repeat="dashboard in myfavourites | excludeById:mydashboards | searchDashboards:criteria">
    <div class="dashboards-box col-xs-12 col-md-12 col-lg-6">
        <div responsive-nav-type class="dashboards-item" ng-class="{'dashboards-item-active': isDashboardSelected(dashboard)}" ng-click="showDashboard(dashboard)">
            <div class="dash_favourite dash_favourite_on" aria-hidden="true" ng-click="removeFavourite(dashboard);$event.stopPropagation()">
                &nbsp;<!--<img style="height:20px" src="/assets/images/icon/public_favoris_on.png" />-->
            </div>
            <div class="dash_name" ng-attr-title="{{dashboard.name.length > 20 ? dashboard.name : undefined }}">{{dashboard.name | limitTo: 20}}{{dashboard.name.length > 20 ? '...' : ''}}</div>
        </div>
    </div>
</div>
<div class="dashboards-box col-xs-12 col-md-12 col-lg-6">
    <div class=" dashboards-add" ng-click="goToCreate()"><span class="glyphicon glyphicon-plus"></span></div>
</div>
</div>
<div class="col-xs-12" id="dashboards-list-scrolldown" ng-click="scrollDown()" ng-show="canScroll()">
    <span class="glyphicon glyphicon-chevron-down"></span>
</div>
