<footer class="row-without-margin" >
   <div class="inner-footer">
        <span class="footer-element"> © Orange {{year}}</span>
        <span class="footer-element"> <a href="" ng-click="goToChangelog()" id="goToChangelog" href="#/release">{{env}} {{release}}</a></span>
        <span class="footer-element"> <a href="mailto:spectre.coreteam@orange.com">Nous contacter</a></span>
        <span class="footer-element"> <a href="" ng-click="goToPlazza()" id="goToPlazza">Plazza</a></span>
        <span class="footer-element"><a href="" ng-click="goToDocumentation()" id="goToDocumentation">Documentation</a></span>
    </div>
</footer>
