<div id="main-dashboard" >
    <div ng-hide="isFullScreen" class="col-xs-3 col-md-2 dashboards-nav full-height-navbar" >
        <div id="dashboard-nav" class="row dashboards-search">
            <div class="col-xs-12">
                <div class="input-group">
                    <input id="criteria" class="form-control" type="text" ng-model="criteria" placeholder="Rechercher...">
                    <span class="input-group-btn">
                    <button class="btn btn-info" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
                </div>
            </div>
        </div>

        <div class="row pills-list">
            <div class="col-xs-12 col-md-12 col-lg-6 pills-list-item padding-0" ng-click="goToMy()" ng-class="{'pills-list-item-active': isMyTabSelected()}">
                <div ng-class="{'nav-pills-custom-active': isMyTabSelected(), 'nav-pills-custom-inactive': !isMyTabSelected()}">privés</div>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-6 pills-list-item padding-0" ng-click="goToPublic()" ng-class="{'pills-list-item-active': isPublicTabSelected()}">
                <div ng-class="{'nav-pills-custom-active': isPublicTabSelected(), 'nav-pills-custom-inactive': !isPublicTabSelected()}">publics</div>
            </div>
        </div>
        <div class="row dashboards-list" ng-class="isFullScreen ? 'full-height-inner' : 'full-height-navbar-inner'" id="dashboards-list">
            <div ui-view="nav" ng-cloak="" class="full-width">
            </div>
        </div>
    </div>

    <div fullscreen="isFullScreen" only-watched-property ui-view="dashboard" id="dashboard"  ng-class="{'full-height':isFullScreen}" class="full-height-navbar dashboard-content" ng-cloak="">
    </div>
</div>
