<p>
    Le connecteur DevOpsIC permet de consulter des données relatives KPIs d'une application dans l'infocentre DevOps SI France.
</p>
<p>
    Par définition, le connecteur remonte les données issues du dernier passage de socles, DevOpsMetre, ... à l'état terminé.
</p>
<p>
    Pour configurer le connecteur vous devez saisir l'Url du kpi de l'application disponible directement dans l'<b>infocentre DevOps</b> sur la vue application (colonne WS KPI, <b>Url KPI Spectre</b>).
</p>
<p>
    Votre référent DevOps peut vous fournir cette Url de kpi.
</p>
