<p>
    Le <b>Nom</b> est un champ libre.
</p>
<p>
    La <b>Description</b> est un champ libre afin d'avoir plus d'informations sur le connecteur.
</p>
<p>
    La <b>Périodicité de collecte</b> correspond au délai entre deux récupérations des Kpis dans Orange Forge.
</p>
<p>
    Le <b>Login</b> correspond à votre login e-buro.
</p>
<p>
    Le <b>Password</b> correspond à votre mot de passe e-buro.
</p>
<p>
    Le <b>Nom du projet</b> dans orange forge (Exemple : ici spectre).
</p>
<p>
    <img src="assets/images/help/forge-bugs-project.png" style="width: 500px;"/>
</p>
<p>
    Le <b>Nom du rapport</b> dans orange forge (Exemple : ici Bugs).
</p>
<p>
    <img src="assets/images/help/forge-bugs-rapport.png" style="width: 500px;"/>
</p>
