<p>
    Le <b>Nom</b> est un champ libre.
</p>
<p>
    La <b>Description</b> est un champ libre afin d'avoir plus d'informations sur le connecteur.
</p>
<p>
    La <b>Périodicité de collecte</b> correspond au délai entre deux récupérations des Kpis dans Jenkins.
</p>
<p>
    L'<b>Url</b> correspond à l'adresse d'accès à Jenkins composée uniquement du hostname et du port éventuel.
</p>
<p>
    <img src="assets/images/help/jenkins-url.png"/>
</p>
<p>
    Le <b>Nom utilisateur</b> et <b>Mot de passe</b> correspondent aux informations de connexion à l'interface Jenkins depuis votre navibateur.
</p>

<p>
    <img src="assets/images/help/jenkins-login.png"/>
</p>

<p>
    Les <b>Nom projet</b> et <b>Nom vue</b> sont optionnels <b>(au moins un est requis)</b> et correspondent au nom d'un job et à sa vue associée. Ils peuvent être utiles pour suivre l'avancée d'un job bien précis.
</p>
