<p>
    Le <b>Nom</b> est un champ libre.
</p>
<p>
    La <b>Description</b> est un champ libre afin d'avoir plus d'informations sur le connecteur.
</p>
<p>
    La <b>Périodicité de collecte</b> correspond au délai entre deux récupérations des Kpis dans Jenkins.
</p>
<p>
    L'<b>Url</b> correspond à l'ip d'accès à Jenkins sur la FAAS (exemple : http://xx.xx.xx.xx).
</p>
</p>
<p>
    <img src="assets/images/help/jenkins-url.png"/>
</p>
<p>
    Le <b>Nom job</b> est optionnel. Il peut être utile pour suivre l'avancée d'un job bien précis.
</p>
