<p>
    L'<b>url</b> correspond à l'adresse de la plateforme.
</p>
<p>
    Le <b>Nom</b> est un champ libre.
</p>
<p>
    La <b>Description</b> est un champ libre afin d'avoir plus d'informations sur le connecteur.
</p>
<p>
    La <b>Périodicité de collecte</b> correspond au délai entre deux récupérations des Kpis dans Jira.
</p>
<p>
    Le <b>Login</b> correspond à votre login Jira.
</p>
<p>
    Le <b>Password</b> correspond à votre mot de passe Jira.
</p>
<p>
    Le <b>Projet</b> sera le nom de votre projet référencé dans Jira.
</p>
<p>
    La <b>Release</b> correspond à la valeur du champ <i>fixversion</i>. Ce champ est non obligatoire.
</p>
