<p>
    L'<b>url</b> correspond à l'adresse de la plateforme.
</p>
<p>
    Le <b>Nom</b> est un champ libre.
</p>
<p>
    La <b>Description</b> est un champ libre afin d'avoir plus d'informations sur le connecteur.
</p>
<p>
    La <b>Périodicité de collecte</b> correspond au délai entre deux récupérations des Kpis dans Jira.
</p>
<p>
    Le <b>Login</b> correspond à votre login Jira.
</p>
<p>
    Le <b>Password</b> correspond à votre mot de passe Jira.
</p>
<p>
    Le <b>Projet</b> sera le nom de votre projet référencé dans Jira.
</p>
<p>
    La <b>Release</b> correspond à la valeur du champ <i>fixversion</i>. Ce champ est non obligatoire.
</p>
<p>
    La <b>Query</b> correspond à la requête <i>(attention à respecter la syntaxe de JIRA)</i>.
</p>
<p>
    La requète ne doit pas contenir de <b>&field</b>.
</p>
<br/>
<ul>
    <li>issuetype : Bug, Epic, Story, Task, Sub-task</li>
    <li>status : Open, In Progress, Reopened, Resolved, Closed, To Do, Done</li>
    <li>priority : Highest, High, Medium, Low, Lowest</li>
    <li>resolution : Done, Won't Do, Duplicate, Cannot Reproduce</li>
</ul>
<p>Exemples - <i>Attention à respecter la syntaxe JIRA</i></p></br>
<ul>
    <li>priority in (Highest, Low) and issuetype=Bug and resolution=Done</li>
    <li>priority=Highest and issuetype=Task</li>
</ul>
</p>
