<p>
    <img src="assets/images/help/qc-home.png"/>
</p>

<p>
    Le <b>Nom</b> est un champ libre.
</p>
<p>
    La <b>Description</b> est un champ libre afin d'avoir plus d'informations sur le connecteur.
</p>
<p>
    La <b>Périodicité de collecte</b> correspond au délai entre deux récupérations des Kpis dans Quality Center.
</p>
<p>
    Le <b>Login</b> correspond à votre login e-buro.
</p>
<p>
    Le <b>Password</b> correspond à votre mot de passe Quality Center (par défaut il s'agit des initiales de vos prénom et nom en
    minuscule).
</p>
<p>
    Le <b>Domaine</b> se construit de la façon suivant : DOM_<i>InitialeDuProjet</i> (Par exemple DOM_B pour le projet BLABLA)
</p>
<p>
    Le <b>Projet</b> sera le nom de votre projet référencé dans Quality Center.
</p>
<p>
    La <b>Release</b> correspond à la valeur du champ <i>Detected in Release</i>. Ce champ est non obligatoire.
</p>
<p>
    Le <b>Fields</b> sera le(s) nom(s) de champs à requêter .<br/>
<p>Exemples - <i>Attention à respecter la syntaxe Quality Center</i></p>
<ul>
    <li>id,name,description</li>
    <li>id,name,description,dev-comments,status,severity,creation-time</li>
    <li>id,name,description,dev-comments,status,severity,creation-time,last-modified,user-06,detection-version</li>
</ul>
</p>
<p>
    La <b>Query</b> correspond à la requête <i>(attention à respecter la syntaxe dans Quality Center)</i>.
<p>Exemples - <i>Attention à respecter la syntaxe Quality Center</i></p>
<ul>
    <li>user-16[MyShop]</li>
    <li>user-16[MyShop];status[not 'Clos a mettre en run' and not 'Clos sans suite']</li>
</ul>
</p>

<!--//BG_STATUS Typical values are: Open, Fixed, Closed, New, Rejected, and Reopen-->
<!--//BG_SEVERITY Typical values are: 1-Low, 2-Medium, 3-High, 4-Very High, 5-Urgent-->
<!--//BG_PRIORITY Typical values are: 1-Low, 2-Medium, 3-High, 4-Very High, 5-Urgent-->
