<p>
    Le <b>Nom</b> est un champ libre obligatoire.
</p>
<p>
    La <b>Description</b> est un champ libre afin d'avoir plus d'informations sur le connecteur.
</p>
<p>
    La <b>Périodicité de collecte</b> correspond au délai entre deux récupérations des Kpis dans Sacre.
</p>
<p>
    L'<b>Url</b> correspond à l'adresse d'accès à Sacre.
</p>


