<p>
    Le <b>Nom</b> est un champ libre.
</p>
<p>
    La <b>Description</b> est un champ libre afin d'avoir plus d'informations sur le connecteur.
</p>
<p>
    La <b>Périodicité de collecte</b> correspond au délai entre deux récupérations des Kpis dans Sonar.
</p>
<p>
    L'<b>Url</b> correspond à l'adresse d'accès à Sonar composée uniquement du hostname et du port éventuel.
</p>
<p>
    <img src="assets/images/help/sonar-url.png"/>
</p>
<p>
    Le <b>Projet</b> et <b>Version</b> correspondent à l'association vue par Sonar dans la page <a>http://10.xx.xx.xx:8080/sonar/measures/filter/1</a>
</p>

<p>
    <img src="assets/images/help/sonar-projects.png"/>
</p>


