<p>
    Le <b>Nom</b> est un champ libre.
</p>
<p>
    La <b>Description</b> est un champ libre afin d'avoir plus d'informations sur le connecteur.
</p>
<p>
    La <b>Périodicité de collecte</b> correspond au délai entre deux récupérations des Kpis dans Sonar.
</p>
<p>
    L'<b>Url</b> correspond à l'adresse ip d'accès de votre projet Sonar sur la FAAS (exemple : <b>http://xx.xx.xx.xx</b> ).
</p>
<p>
    Les <b>Projet</b> et <b>Version</b> correspondent à l'association vue par Sonar dans la page <a>http://10.xx.xx.xx/sonar/measures/filter/1</a>
</p>

<p>
    <img src="assets/images/help/sonar-projects.png"/>
</p>
<p>
	<b class="help-faas">En cas d'échec de connexion, assurez-vous auprès du support de la FaaS que votre projet a été paramétré pour fonctionner en mode relaxed (c'est à dire sans besoin d’authentification)</b>
</p>


