<p>
    Il n'y a pas de paramétrage conséquent à faire. (Il suffira de saisir un nom pour le connecteur.)
</p>
<p>
    Spectre exposera ses propres statistiques internes concernant :
</p>
<ul>
    <li>les projets</li>
    <li>les dashboards</li>
    <li>les connecteurs</li>
    <li>les utilisateurs</li>
</ul>
