<p>
    Le <b>Nom</b> est un champ libre.
</p>
<p>
    La <b>Description</b> est un champ libre afin d'avoir plus d'informations sur le connecteur.
</p>
<p>
    La <b>Périodicité de collecte</b> correspond au délai entre deux récupérations des Kpis dans TeamColony.
</p>
<p>
    Le <b>Token</b> se trouve dans la page Export data de l'interface web de TeamColony dans la sous section JSON and XML.
</p>
<p>
    <img src="assets/images/help/tc-token-menu.png"/>
</p>
<p>
    <img src="assets/images/help/tc-token.png"/>
</p>

<p>
    Le <b>Team name</b> se trouve au niveau de l'url d'accès à l'interface web de TeamColony
</p>
<p>
    <img src="assets/images/help/tc-team.png"/>
</p>



