<p>
     Veuillez-vous connecter à votre Dashboard  personnel Trello depuis votre navigateur par défaut, copiez l’url de votre Dashboard, et collez le dans le champ url.
</p>
<p>
    <img src="assets/images/help/trello-url.png"/>
</p>

<p>
    Pour obtenir l'Api key, veuillez cliquer sur ce  lien <a class="a-link" href="https://trello.com/app-key" target="_blank"> API Key </a>, puis copiez la clé fourni en identifiant et collez là dans le champ Api key.
</p>
<p>
    <img src="assets/images/help/api-key.png"/>
</p>

<p>
	Pour obtenir le Token, cliquer sur jeton depuis la page où vous avez obtenu l'Api key, puis confirmer votre identité. Une nouvelle fenêtre apparaitra contenant votre token. Copiez le token, et collez le dans le champ token.
</p>
<p>
    <img src="assets/images/help/token.png"/>
</p>

