<p>
    Ce connecteur permet d'exploiter les données météorologiques exposées par l'API du site
    <a class="a-link" href="http://openweathermap.org" target="_blank">OpenWeatherMap.org</a>
</p>
<p>
    Pour utiliser ce connecteur vous devez
    <a class="a-link" href="http://home.openweathermap.org/users/sign_up" target="_blank">créer un compte</a> sur le site.
    <nobr>(Un compte gratuit est suffisant)</nobr>
</p>
<p>
    Une fois le compte créé vous devez copier la
    <a class="a-link" href="http://openweathermap.org/api" target="_blank">clé d'API</a>
    qui est fournie pour le compte OpenWeatherMap sur le champ <b>Token</b>.
</p>

<p>
    Par ailleurs vous devez saisir un nom de <b>Ville</b>.
    Vous devez vous assurer que la Ville saisie est connue par OpenWeatherMap.
    Pour vérifier ceci vous pouvez utiliser leur
    <a class="a-link" href="http://openweathermap.org/city" target="_blank">formulaire de recheche de villes</a>.
</p>
