<div class="modal-header">
    <h3 class="modal-title">Dashboard {{dashboard.name}} - {{label.title}} d'un indicateur
        <span ng-click="cancel()" class="close-popin glyphicon glyphicon-remove pull-right"></span>
    </h3>
</div>
<form ng-submit="submit()" id="widget" class="container-fluid form-horizontal" ng-show="!success" class="form"
      name="form" role="form" show-validation>
    <div class="modal-body row">

        <div id="dropdown-scrollable-container" style="height: 40em; overflow: auto;">
            <div id="dropdown-long-content">
                <div id="dropdown-hidden-container">
                    <div class="btn-group" uib-dropdown keyboard-nav dropdown-append-to="appendToEl">
                        <button id="btn-append-to" type="button" class="btn btn-default" uib-dropdown-toggle>
                            {{label.type}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to">
                            <li role="menuitem"><a href="" ng-click="selectCustom()">Manuel</a></li>
                            <li ng-repeat="(project, families) in projects" role="menuitem"><a
                                ng-click="selectProject(project, families)" href="">{{project}}</a></li>
                        </ul>
                    </div>
                    <div ng-hide="selectAvailable || selectedProject == null" class="btn-group" uib-dropdown
                         keyboard-nav dropdown-append-to="appendToEl">
                        <button id="btn-append-to" type="button" class="btn btn-default" uib-dropdown-toggle>
                            {{label.domain}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to">
                            <li ng-repeat="(family, indicators) in families" role="menuitem"><a href=""
                                                                                                ng-click="selectFamily(family, indicators)">{{family}}</a>
                            </li>
                        </ul>
                    </div>
                    <div ng-hide="selectAvailable || selectedFamily == null" class="btn-group" uib-dropdown keyboard-nav
                         dropdown-append-to="appendToEl">
                        <button id="btn-append-to" type="button" class="btn btn-default" uib-dropdown-toggle>
                            {{label.choix}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to">
                            <li role="menuitem" ng-repeat="indicator in indicators"><a href=""
                                                                                       ng-click="selectIndicator(indicator)">{{indicator.connector}} - {{indicator.label}}</a>
                            </li>
                        </ul>
                    </div>
                    <div ng-hide="selectedIndicator == null">
                        <br/>
                        <blockquote ng-show="selectedIndicator.domain">
                            <p>
                                <strong>Domaine :</strong>
                                <div>{{selectedIndicator.domain}}</div>
                            </p>
                        </blockquote>
                        <blockquote ng-show="selectedIndicator.purpose">
                            <p>
                                <strong>Finalité :</strong>
                                <div>{{selectedIndicator.purpose}}</div>
                            </p>
                        </blockquote>
                        <blockquote ng-show="selectedIndicator.definition">
                            <p>
                                <strong>Définition :</strong>
                                <div>{{selectedIndicator.definition}}</div>
                            </p>
                        </blockquote>
                        <blockquote ng-show="selectedIndicator.origin">
                            <p>
                                <strong>Outil de provenance :</strong>
                                <div>{{selectedIndicator.origin}}</div>
                            </p>
                        </blockquote>
                    </div>
                    <div ng-show="selectAvailable" class="btn-group" uib-dropdown keyboard-nav
                         dropdown-append-to="appendToEl">
                        <button id="btn-append-to" type="button" class="btn btn-default" uib-dropdown-toggle>
                            {{label.choix}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to">
                            <li role="menuitem" ng-repeat="measure in indicatorProperties.measures"><a href=""
                                                                                                       ng-click="selectAvailableMeasure(measure)">{{measure.label}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div ng-switch="selectedAvailable.measure" class="col-xs-12 modal-update-form">
                <div ng-switch-when="MOOD">
                    <div class="row">
                        <div class="col-xs-10">
                    <div class="row form-group">
                        <label class="col-sm-3 col-xs-3 control-label" for="indicatorLabel">Nom*</label>
                        <div class="col-sm-9 col-xs-9">
                            <input id="indicatorLabel" class="form-control" type="text" ng-model="widget.label"
                                   placeholder="Libellé de l'indicateur" required>
                        </div>
                    </div>
                            </div>
                        </div>
                    <div class="row form-group">
                        <label class="col-sm-2 col-xs-3 control-label">{{label.value}} valeur*</label>
                        <div class="col-xs-3 " ng-click="selectMood('SAD')">
                            <span style="font-size:15rem !important" class="fa fa-frown-o smiley-red"
                                  ng-class="{'mood-red':isMood('SAD')}"></span>
                        </div>
                        <div class="col-xs-3" ng-click="selectMood('NORMAL')">
                            <span style="font-size:15rem !important" class="fa fa-meh-o smiley-orange"
                                  ng-class="{'mood-orange':isMood('NORMAL')}"></span>
                        </div>
                        <div class="col-xs-3" ng-click="selectMood('HAPPY')">
                            <span style="font-size:15rem !important" class="fa fa-smile-o smiley-green"
                                  ng-class="{'mood-green':isMood('HAPPY')}"></span>
                        </div>
                    </div>
                </div>

                <div ng-switch-when="NUMERIC">
                    <div class="row">
                        <div class="col-xs-10">
                    <div class="row form-group">
                        <label class="col-sm-3 col-xs-4 control-label" for="indicatorLabel">Nom*</label>
                        <div class="col-sm-9 col-xs-8">
                            <input id="indicatorLabel" class="form-control" type="text" ng-model="widget.label"
                                   placeholder="Libellé de l'indicateur" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-3 col-xs-4 control-label" for="indicatorUnity">Unit&eacute; (minutes,
                            points, ...)*</label>
                        <div class="col-sm-9 col-xs-8">
                            <input id="indicatorUnity" class="form-control" type="text" ng-model="widget.unity"
                                   placeholder="Unité de l'indicateur " required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-3 col-xs-4 control-label" for="indicatorData">{{label.value}}
                            valeur*</label>
                        <div class="col-sm-9 col-xs-8">
                            <input id="indicatorData" class="form-control" type="text" ng-model="widget.data"
                                   placeholder="valeur de l'indicateur" required>
                        </div>
                    </div>
                            </div>
                        </div>
                </div>

                <div ng-switch-when="PERCENT">
                    <div class="row">
                        <div class="col-xs-10">
                    <div class="row form-group">
                        <label class="col-sm-3 col-xs-4 control-label" for="indicatorLabel">Nom*</label>
                        <div class="col-sm-9 col-xs-8">
                            <input id="indicatorLabel" class="form-control" type="text" ng-model="widget.label"
                                   placeholder="Libellé de l'indicateur" required>

                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-3 col-xs-4 control-label" for="indicatorData">{{label.value}} valeur
                            (%)*</label>
                        <div class="col-sm-9 col-xs-8">
                            <input id="indicatorData" name="indicatorData" class="form-control" type="text"
                                   ng-model="widget.data" placeholder="valeur de l'indicateur" required>
                        </div>
                    </div>
                            </div>
                        </div>
                </div>

                <div ng-switch-when="TEXT">
                    <div class="row">
                        <div class="col-xs-10">
                            <!--<form ng-submit="create()" id="widget"  ng-show="!success" class="form"  name="form" role="form" show-validation>-->
                            <div class="row form-group">
                                <label class="col-sm-3 col-xs-4 control-label" for="indicatorLabel">Nom*</label>
                                <div class="col-sm-9 col-xs-8">
                                    <input id="indicatorLabel" class="form-control" type="text" ng-model="widget.label"
                                           placeholder="Libellé de l'indicateur" required>

                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-sm-3 col-xs-4 control-label" for="indicatorData">{{label.value}}
                                    valeur*</label>
                                <div class="col-sm-9 col-xs-8">
                                    <input id="indicatorData" name="indicatorData" class="form-control" type="text"
                                           ng-model="widget.data" placeholder="valeur de l'indicateur"
                                           required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-switch-when="TUPLE">
                    <div class="row">
                        <div class="col-xs-10">
                            <div class="row form-group">
                                <label class="col-sm-3 col-xs-4 control-label" for="indicatorLabel">Nom *</label>
                                <div class="col-sm-9 col-xs-8">
                                    <input id="indicatorLabel" class="form-control" type="text" ng-model="widget.label"
                                           required>

                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-sm-3 col-xs-4 control-label" for="indicatorMeasure">Type *</label>
                                <div class="col-sm-9 col-xs-8">
                                    <select ng-init="widget.dataMeasure = measureOptions[0]"
                                            ng-options="option.name for option in measureOptions" class="form-control"
                                            id="indicatorMeasure" ng-model="widget.dataMeasure" required>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-sm-3 col-xs-4 control-label" for="indicatorUnity">Unit&eacute;
                                    (minutes,
                                    points, ...)</label>
                                <div class="col-sm-9 col-xs-8">
                                    <input id="indicatorUnity" class="form-control" type="text" ng-model="widget.unity">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10">

                            <div class="line-up">
                                <div ng-repeat="currentData in widget.data">
                                    <div class="row form-group">
                                        <label class="col-sm-3 col-xs-4 control-label" for="indicatorLabel{{$index}}">Nom {{label.value}} valeur
                                            {{$index
                                            + 1}} *</label>
                                        <div class="col-sm-9 col-xs-8">
                                            <input id="indicatorLabel{{$index}}" class="form-control" type="text"
                                                   ng-model="currentData.label" required>

                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <label class="col-sm-3 col-xs-4 control-label" for="indicatorData{{$index}}">{{label.value}} valeur
                                            {{$index +
                                            1}} *</label>
                                        <div class="col-sm-9 col-xs-8">
                                            <input id="indicatorData{{$index}}" name="indicatorData" class="form-control"
                                                   type="text"
                                                   ng-model="currentData.value" required>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2 widget-data-add-div">
                            <span class="widget-data-add-icon content-center glyphicon glyphicon-plus"
                                  ng-click="addTupleData()"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>


<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Annuler</button>

    <button class="btn btn-primary" type="button" ng-disabled=" form.$invalid || widget.data==null"
            ng-click="updateCustomWidget()" ng-show="selectedAvailable != null">{{label.button}}
    </button>
    <button ng-show="selectedIndicator != null" class="btn btn-primary" type="button"
            ng-click="updateWidget()">{{label.button}}
    </button>
</div>
