<div>
    <div class="row row-without-margin" >

        <div class="alert alert-danger" ng-show=isIE align="center">
            <strong>Pour raison de compatibilité, veuillez utiliser le navigateur Firefox ou Chrome</strong>
        </div>

        <div class="col-md-4 col-md-offset-4">
            <h1>Connexion</h1>
            <div class="alert alert-danger" ng-show="sessionExpired()">
                <div>Votre session a expiré, veuillez vous reconnecter.</div>
            </div>
            <div class="alert alert-danger" ng-show="authenticationError()">
                <strong>Echec de la connexion !</strong> Vérifiez vos identifiants.
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <form ng-show="!success" class="form"  name="form" role="form" show-validation ng-submit="login($event)" >
                <div class="form-group">
                    <label for="username">Login</label>
                    <input required type="text" class="form-control" id="username" name="username" placeholder="Votre login" ng-model="username" ng-minlength=1 ng-maxlength=50 >
                    <div ng-show="form.username.$dirty && form.username.$invalid">
                        <p class="help-block"
                           ng-show="form.username.$error.maxlength">
                            Votre login doit faire 50 caractères maximum
                        </p>
                    </div>

                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Votre mot de passe"
                           ng-model="password">
                </div>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Connexion</button>
            </form>
            <p></p>

            <div class="alert alert-warning">
                Vous n'avez pas encore de compte? <a class="alert-link" href="#/register">Enregistrez vous!</a>
            </div>

            <div class="alert alert-warning">
                Mot de passe perdu ? <a class="alert-link" href="#/resetRequest">Cliquez ici !</a>
            </div>


        </div>
    </div>
</div>
