.ct-series-custom-a .ct-point, .ct-series-custom-a .ct-line, .ct-series-custom-a .ct-bar, .ct-series-custom-a .ct-slice-donut {
  stroke: #00dd00; }
.ct-series-custom-a .ct-slice-pie, .ct-series-custom-a .ct-area {
  fill: #00dd00; }

.ct-series-custom-b .ct-point, .ct-series-custom-b .ct-line, .ct-series-custom-b .ct-bar, .ct-series-custom-b .ct-slice-donut {
  stroke: #00ffff; }
.ct-series-custom-b .ct-slice-pie, .ct-series-custom-b .ct-area {
  fill: #00ffff; }

.ct-series-custom-c .ct-point, .ct-series-custom-c .ct-line, .ct-series-custom-c .ct-bar, .ct-series-custom-c .ct-slice-donut {
  stroke: #ff6600; }
.ct-series-custom-c .ct-slice-pie, .ct-series-custom-c .ct-area {
  fill: #ff6600; }

.ct-series-custom-d .ct-point, .ct-series-custom-d .ct-line, .ct-series-custom-d .ct-bar, .ct-series-custom-d .ct-slice-donut {
  stroke: #ff0000; }
.ct-series-custom-d .ct-slice-pie, .ct-series-custom-d .ct-area {
  fill: #ff0000; }

.ct-series-custom-e .ct-point, .ct-series-custom-e .ct-line, .ct-series-custom-e .ct-bar, .ct-series-custom-e .ct-slice-donut {
  stroke: #ff00ff; }
.ct-series-custom-e .ct-slice-pie, .ct-series-custom-e .ct-area {
  fill: #ff00ff; }

.ct-series-custom-f .ct-point, .ct-series-custom-f .ct-line, .ct-series-custom-f .ct-bar, .ct-series-custom-f .ct-slice-donut {
  stroke: #ff80ff; }
.ct-series-custom-f .ct-slice-pie, .ct-series-custom-f .ct-area {
  fill: #ff80ff; }

.ct-series-custom-g .ct-point, .ct-series-custom-g .ct-line, .ct-series-custom-g .ct-bar, .ct-series-custom-g .ct-slice-donut {
  stroke: #8080ff; }
.ct-series-custom-g .ct-slice-pie, .ct-series-custom-g .ct-area {
  fill: #8080ff; }

.ct-series-custom-h .ct-point, .ct-series-custom-h .ct-line, .ct-series-custom-h .ct-bar, .ct-series-custom-h .ct-slice-donut {
  stroke: #8000ff; }
.ct-series-custom-h .ct-slice-pie, .ct-series-custom-h .ct-area {
  fill: #8000ff; }

.ct-series-custom-i .ct-point, .ct-series-custom-i .ct-line, .ct-series-custom-i .ct-bar, .ct-series-custom-i .ct-slice-donut {
  stroke: #0000ff; }
.ct-series-custom-i .ct-slice-pie, .ct-series-custom-i .ct-area {
  fill: #0000ff; }

.ct-series-custom-j .ct-point, .ct-series-custom-j .ct-line, .ct-series-custom-j .ct-bar, .ct-series-custom-j .ct-slice-donut {
  stroke: #008000; }
.ct-series-custom-j .ct-slice-pie, .ct-series-custom-j .ct-area {
  fill: #008000; }

.ct-series-custom-k .ct-point, .ct-series-custom-k .ct-line, .ct-series-custom-k .ct-bar, .ct-series-custom-k .ct-slice-donut {
  stroke: #808000; }
.ct-series-custom-k .ct-slice-pie, .ct-series-custom-k .ct-area {
  fill: #808000; }

.ct-series-custom-l .ct-point, .ct-series-custom-l .ct-line, .ct-series-custom-l .ct-bar, .ct-series-custom-l .ct-slice-donut {
  stroke: #999999; }
.ct-series-custom-l .ct-slice-pie, .ct-series-custom-l .ct-area {
  fill: #999999; }

.ct-series-custom-m .ct-point, .ct-series-custom-m .ct-line, .ct-series-custom-m .ct-bar, .ct-series-custom-m .ct-slice-donut {
  stroke: #008080; }
.ct-series-custom-m .ct-slice-pie, .ct-series-custom-m .ct-area {
  fill: #008080; }

.ct-series-custom-n .ct-point, .ct-series-custom-n .ct-line, .ct-series-custom-n .ct-bar, .ct-series-custom-n .ct-slice-donut {
  stroke: #800080; }
.ct-series-custom-n .ct-slice-pie, .ct-series-custom-n .ct-area {
  fill: #800080; }

.ct-series-custom-o .ct-point, .ct-series-custom-o .ct-line, .ct-series-custom-o .ct-bar, .ct-series-custom-o .ct-slice-donut {
  stroke: #ffff00; }
.ct-series-custom-o .ct-slice-pie, .ct-series-custom-o .ct-area {
  fill: #ffff00; }


/************************************************
  style ct-series-2 to be used for 2-valued data
 ************************************************/
.ct-series-2-a .ct-point, .ct-series-2-a .ct-line, .ct-series-2-a .ct-bar, .ct-series-2-a .ct-slice-donut {
  stroke: #00dd00; }
.ct-series-2-a .ct-slice-pie, .ct-series-2-a .ct-area {
  fill: #00dd00; }

.ct-series-2-b .ct-point, .ct-series-2-b .ct-line, .ct-series-2-b .ct-bar, .ct-series-2-b .ct-slice-donut {
  stroke: #ff0000; }
.ct-series-2-b .ct-slice-pie, .ct-series-2-b .ct-area {
  fill: #ff0000; }


/************************************************
  style ct-series-3 to be used for 3-valued data
 ************************************************/
.ct-series-3-a .ct-point, .ct-series-3-a .ct-line, .ct-series-3-a .ct-bar, .ct-series-3-a .ct-slice-donut {
  stroke: #00dd00; }
.ct-series-3-a .ct-slice-pie, .ct-series-3-a .ct-area {
  fill: #00dd00; }

.ct-series-3-b .ct-point, .ct-series-3-b .ct-line, .ct-series-3-b .ct-bar, .ct-series-3-b .ct-slice-donut {
  stroke: #ff6600; }
.ct-series-3-b .ct-slice-pie, .ct-series-3-b .ct-area {
  fill: #ff6600; }

.ct-series-3-c .ct-point, .ct-series-3-c .ct-line, .ct-series-3-c .ct-bar, .ct-series-3-c .ct-slice-donut {
  stroke: #ff0000; }
.ct-series-3-c .ct-slice-pie, .ct-series-3-c .ct-area {
  fill: #ff0000; }


/*******************************
  styles to be used for smileys
 *******************************/
.ct-series-white-a .ct-point, .ct-series-white-a .ct-line, .ct-series-white-a .ct-bar, .ct-series-white-a .ct-slice-donut {
  stroke: #ffffff; }
.ct-series-white-a .ct-slice-pie, .ct-series-white-a .ct-area {
  fill: #ffffff; }

.smiley-green{
  color: #00dd00;
}

.smiley-orange{
  color: #ff6600;
}

.smiley-red{
  color: #ff0000;
}

/****************************************************
  styles to be used for 1-valued-data with threshold
 ****************************************************/
.ct-point.ct-series-green, .ct-line.ct-series-green, .ct-bar.ct-series-green, .ct-slice-donut.ct-series-green {
  stroke: #00dd00; }
.ct-slice-pie.ct-series-green, .ct-area.ct-series-green {
  fill: #00dd00; }

 .ct-point.ct-series-orange, .ct-line.ct-series-orange, .ct-bar.ct-series-orange, .ct-slice-donut.ct-series-orange {
  stroke: #ff6600; }
 .ct-slice-pie.ct-series-orange, .ct-area.ct-series-orange {
  fill: #ff6600; }

.ct-point.ct-series-red, .ct-line.ct-series-red, .ct-bar.ct-series-red, .ct-slice-donut.ct-series-red {
  stroke: #ff0000; }
.ct-slice-pie.ct-series-red, .ct-area.ct-series-red {
  fill: #ff0000; }

