/*
 #############
 COMMONS
 #############
 */

.container-app{
    height: 100%;
}

.whatever {
    max-width: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* optional */
}

.navbar-container{
    margin-left: 0px;
    margin-right: 0px;
}
/********
 BANDEAU
*********/

.page-wrap {
    min-height: 100% !important;
    /* equal to footer height */
    margin-bottom: -28px !important;
    margin-right: -10px;
    margin-left: -10px;
}
.page-wrap:after {
    content: "";
    display: block !important;
}
.site-footer, .page-wrap:after {
    /* .push must be the same height as footer */
    height: 28px !important;
}

.navbar-brand-spectre {
    padding: 2px 0 !important;
    height: 55px;
}

.navbar-brand-text {
    margin-bottom: 0;
    margin-top: 7px;
    padding: 1rem;
    position: absolute;
    font-size: 2.3em;
    text-shadow: none;
}

.navbar-toggle {
    margin-top: 10px;
}

#orange-logo {
    float: left;
}

.navbar-spectre, .navbar-header-spectre {
    min-height: 64px;
    height: 64px !important;
}

.navbar-collapse-spectre, .nav-item-spectre {
    min-height: 64px;
    height: 64px !important;
}

.nav-item-spectre > a, .nav-item-spectre > div {
    margin-top: 10px;
    border: 1px solid black;
}

.navbar .navbar-brand img {
    width: auto;
    height: 60px !important;
}

#sign-in, #sign-up {
    margin-top: 10px !important;
}

#my-projects {
    margin-top: 0px;
}

#navbar-collapse {
    min-height: 64px;
    height: 64px !important;
}

#img-settings {
    height: 45px;
}

#img-avatar-status {
    height: 40px;
}

/************************
 DASHBOARDS - NAVIGATION
*************************/

html, body {
    height: 100%;
}

.full-height-navbar {
    min-height: calc(100vh - 92px);
    overflow: hidden;
}

.full-height-navbar .full-height-navbar-inner {
    /*height: calc(100% - 92px);*/
    overflow: auto;
    padding-right: 0px;
}

.full-height-navbar-inner{
    height: calc(100vh - 200px);
}

.full-height {
    height: 100vh !important;
    overflow: hidden;
}

.full-height .full-height-inner {
    height: 100%;
    overflow: auto;
    width: calc(100% + 45px);
    padding-right: 20px;
}

.full-width {
    width: 100% !important;
}

.dashboards-nav {
    background-image: url("../images/icon/_bgd_dash.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.dashboards-nav-dash {
    padding-right: 2px;
    padding-left: 2px;
}

.dashboards-background {
    background-image: url("../images/icon/_bgd_spectre.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.dashboards-search,
.pills-list {
    margin-top: 5px;
    margin-bottom: 5px;
}

#dashboard{
    margin-left: -10px;
}

.pills-list {
    padding-left: 1rem;
    padding-right: 1rem;
}

.pills-list-item {
    height: 30px;
    position: relative;
    padding: 0 !important;
    overflow: hidden;
}

.pills-list-item-active::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 30px;
    left: calc(100% / 2 - 10px);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    overflow: hidden;
}

.nav-pills-custom-inactive,
.nav-pills-custom-active {
    height: 100%;
    width: 100%;
    line-height: 30px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.nav-pills-custom-inactive {
    background-color: white;
}

.nav-pills-custom-active {
    color: white;
    background-color: black;
}

.dashboards-box {
    position: relative;
    width: 50%;
}

.dashboards-box:before {
    content: "";
    display: block;
    padding-top: 100%; /* initial ratio of 1:1*/
}

.dashboards-list {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px 5px 5px 0;
    width: 100%;
}

.dashboards-item,
.dashboards-add {
    align-items: center;
    bottom: 0;
    display: flex;
    font-weight: bold;
    justify-content: center;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    text-overflow: ellipsis;
    top: 0;
}

.dashboards-item {
    border: 0.2em solid white;
    margin: 0.1em;
}

.dashboards-add {
    color: rgba(255, 255, 255, 0.6);
    font-size: 5rem;
}

.dashboards-item-active {
    border: 0.2em solid black;
    margin: 0.1em;
}

#dashboards-list-scrollup,
#dashboards-list-scrolldown {
    text-align: center;
    position: absolute;
    font-size: 2rem;
    z-index: 5;
}

#dashboards-list-scrollup:hover,
#dashboards-list-scrolldown:hover {
    color: white;
}

#dashboards-list-scrollup {
    top: 95px;
}

#dashboards-list-scrolldown {
    bottom: 0%;
}

.dash_name {
    font-size: 50%;
    max-width: 90%;
    overflow-wrap: break-word;
}

.padding-0 {
    padding: 0px;
}

/*********************************
 DASHBOARDS - AFFICHAGE / EDITION
**********************************/

.dashboard-title {
    padding: 20px 50px;
}

.dashboard-title-icon::before {
    font-size: 5rem;
}

.dashboard-title-text {
    font-size: 3rem;
    color: #FF7900;
    height: 55px;
    border: solid 2px white;
}

.dashboard-title-text-edit {
    font-size: 3rem;
    color: #FF7900;
    height: 55px;
    width: calc(100% - 75px);
    border: solid 2px black;
}

.dashboard-title-img {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    height: 55px;
}

.dashboard-flip-back {
    height: 20px;
}

.widget-top {
    margin: 10px 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 100%;
    border: solid 1px green;

}

.widget-num {
    background-color: #4BB4E6;
}

.widget-percent {
    background-color: #FFD200;
}

.widget-mood {
    background-color: #50BE87;
}

.widget-tuple {
    background-color: #FFB4E6;
}

.widget-text {
    background-color: #A885D8;
}

.mood-green {
    color: green;
}

.mood-orange {
    color: orange;
}

.mood-red {
    color: red;
}

.widget-add {
    background-color: rgba(241, 241, 241, 0.4);
    color: rgba(255, 255, 255, 0.6);
    font-size: 5rem;
}

.widget-add-icon {
    color: #ddd;
}

.widget-size {
    font-size: 0.6em;
}

.widget-label-size {
    font-size: 0.6em;
}

.widget-description {
    color: #666666;
    font-size: 0.8em;
    margin: 5px 0;
}

.widgets-list {
    padding: 0 40px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.widgets-add {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* card fronts and backs */
.card__front,
.card__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card__front,
.card__back {
    padding: 4px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.card__back {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.widget-card {
    width: 100%;
    height: 100%;
}

#icon-info-back{
    width:7px;
}

/* click effect */
.widget-card.effect__click.flipped .card__front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.widget-card.effect__click.flipped .card__back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}

.carousel .carousel-control {
    width: 3rem;

}

.carousel-indicators li.active-tuple {
    width: 1.6rem;
    height: .4rem;
    margin: 0 .4rem 0 .4rem;
    background-color: #f16e00;
}

.carousel-slide-add, .carousel-slide-remove {
    width: 20%;
    position: absolute;
    text-align: center;
    bottom: -3rem;
    z-index: 15;
}

.carousel-slide-remove {
    left: 0;
}

.carousel-slide-add {
    right: 0;
}

.btn-return {
    margin-top: 5px;
}

.btn-dash-nav {
    font-size: 0.9em;
    padding: 4px;
    margin-right: 10px;
    margin-left: 10px;
}

.carousel-chevron-left {
    position: absolute;
    right: 0;
    /*font-size:1.5em;*/
}

.carousel-chevron-right {
    position: absolute;
    left: 0;
    /*font-size:1.5em;*/
}

.item-width {
    width: 100%;
    padding: 0 40px;
}

.square-box {
    position: relative;
    width: 100%;
    overflow: hidden;
    font-size: 95%;
    
}

.square-box:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.square-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
}

.square-content div.square-elt {
    display: table;
    width: 100%;
    height: 100%;

}

.content-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.col-xs-12 {
    padding-left: 7px !important;
}

.text-center {
    text-align: center;
}

.widget-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.max-height {
    height: 100%;
}

.max-width {
    width: 100%;
}

.widget-value {
    color: white !important;
    font-weight: bold;
}

.widget-value-mood {
    font-size: 8vw;
    color: white;
}

.widget-label {
    font-weight: bold;
}

.widget-date {
    font-size: 0.8em;
    position: absolute;
    bottom: 0;
}

.widget-row-area {
    position: relative;
}

.widget-icon {
    position: absolute;
    top: 0;
    right: 15px;
}

.widget-icon-left {
    position: absolute;
    top: 0;
    left: 15px;
}

.widget-icon-slide {
    position: absolute;
    top: 3px;
    right: 3px;
}

.widget-trend, .widget-legend {
    position: absolute;
    bottom: 0;
}

.tuple-arrow {
    top: 45%;
    position: absolute;
}

.tuple-arrow-left {
    left: 0;
}

.tuple-arrow-right {
    right: 0;
}

.members-section-title {
    list-style: none;
    overflow: hidden;
    font: 18px Helvetica, Arial, Sans-Serif;
    color: white;
    text-decoration: none;
    padding: 5px 0 5px 10px;
    background: brown; /* fallback color */
    background: #F16E00;
    position: relative;
    display: block;
    float: left;
    width: 80%;
    height: 30px;
}

.triangle-right {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent #F16E00;
}

.toggle-img, .search-input {
    height: 40px;
    position: absolute;
    top: -8px;
}

.members-section {
    margin: 20px 0px;

}

.modal-header {
    background: #000;
}

.modal-title {
    color: #fff;
}

.modal {
    text-align: center;
    padding: 0 !important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.close-popin {
    color: #fff;
    height: 17px;
}

.panel-default {
    border-color: #000;
}

.panel-default > .panel-heading {
    color: #000;
    background-color: #fff;
    border-color: #000;
}

.btn-user-menu {
    color: #fff;
    background-color: #000;
    border: 1px;
    padding: 3px;
}

.btn-user-menu:hover, .btn-user-menu:focus {
    color: #F16E00;
    background-color: #000;
}

.modal-update-form {
    margin-top: 40px;
}

.line-up {
    padding-top: 20px;
    border-top: 2px solid #d4d4d4;
}

.widget-data-add-div {
    position: absolute;
    bottom: 50px;
    right: 0px;
}

.widget-trend {
    font-size: 1.2em;
}

.widget-data-add-icon {
    border: 1px solid #000;
    color: #000;
    width: 50px;
    height: 40px;
    font-size: 2em;
}

.icon-hover:hover > span > img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.icon-hover > span > img {
    -webkit-filter: invert(0%);
    filter: invert(0%);
}

.icon-inverse > span > img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.icon-hover-inverse:hover > span > img {
    -webkit-filter: invert(0%);
    filter: invert(0%);
}

.icon-hover-inverse > span > img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.dash_favourite:before {
    content: "";
    display: block;
    padding-top: 100%; /* initial ratio of 1:1*/
}

.dash_favourite {
    height: 15%;
    position: absolute;
    right: 0.1em;
    top: 0.2em;
    width: 15%;
}

.dash_favourite_on {
    background: rgba(0, 0, 0, 0) url("../images/icon/public_favoris_on.png") no-repeat scroll 0 0 / 100% 100%;
}

.dash_favourite_off {
    background: rgba(0, 0, 0, 0) url("../images/icon/public_favoris_off.png") no-repeat scroll 0 0 / 100% 100%;
}

.dash_private:before {
    content: "";
    display: block;
    padding-top: 100%; /* initial ratio of 1:1*/
}

.dash_private {
    background: rgba(0, 0, 0, 0) url("../images/icon/lock.png") no-repeat scroll 0 0 / 100% 100%;
    bottom: 0.2em;
    height: 15%;
    left: 0.1em;
    position: absolute;
    width: 15%;
}

.projects-title {
    padding-top: 10px;
}

.projects-title-texte {
    color: #ff7900;
    font-size: 3em;
}

.projects-search {
    padding-right: 10px;
}

.project-nav {
    padding-left: 40px;
}

.project-carousel {
    margin-top: 20px;
}

.project-name-input {
    width: 100%;
}

.project-card {
    background-color: black;
    color: white;
}

.project-value {
    font-size: 2em;
    color: white;
}

.project_favourite {
    position: absolute;
    bottom: 5px;
    right: 13px;
}

.project-addconnector-label {
    color: #ff7900;
    font-size: 1.5em;
    margin-bottom: 30px;
}

.btn-connector {
    border: solid 2px black;
}

.btn-connector-selected {
    border: solid 2px #ff7900 !important;
}

.btn-connector-label {
    color: #ff7900;
    font-size: 1.0em;
    margin: 5px 0;
}

.modal-lg {
    width: 70%;
}

.a-link {
    color: #337ab7;
}

.widget-manage-page {
    color: grey;
    font-size: 5rem;
}

.first-active {
    left: 0;
    display: block !important;
}

.time-input {
    border: 2px solid #ccc;
    padding: .8rem 1rem;
    font-size: 1.6rem;
    width: 100%;
    height: 4rem;

}

.time-picker .input-group {
    width: 100% !important;
}

.time-picker {
    width: 100%;
    border: 1px solid white;
}

.carrousel-glyphicon {
    font-size: 2rem !important;
}

.widget-spacing {
    padding: 2px 10px 2px 0px;
}

.widget-project-spacing {
    padding: 0px 5px 0px 1px;
}

.dashboard-title-edit{
    display:flex;
    flex-direction:row
}

.dashboard-title-edit > input{
    flex:1;
}

.row-10{
    height:10%;
}

.row-15{
    height:15%;
}

.row-20{
    height:20%;
}

.row-25{
    height:25%;
    width: 100%;
    margin-left: 0;
}

.row-50{
    height:50%;
}

.row-60{
    height:60%;
}

.row-75{
    height:75%;
}

.row-without-margin{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.margin-top-20{
    margin-top:20%;
}

.img-height-10{
    height:10px
}

.img-height-20{
    height:20px
}

.img-height-30{
    height:30px
}
.widget-trend-diff{
    text-align: center;
    display: inline-block;
}

/********
 FOOTER
*********/

.footer{
    height:28px;
}

footer {
    height:28px;
    background-color: #000;
    text-align: center;
    color: white !important;
    /*position: fixed;*/
    bottom:0px;
    width: 100%;
}
.inner-footer > span > a{
    color: white !important;
}


.footer-element{
    margin: 0px 20px;
}

/********
 CHANGELOG
*********/

#release{
    margin-left: 1rem;
}

.changelog-margin{

    margin-left: -3rem;
}

#version{
    margin-left: 2rem;
}

#version-date{
    font-size: 25px;
}

.navbar-nav > li > a {
    margin-top: 0px !important;
}

.help-faas{
    color: red;
}
