<div class="row">
    <div class="col-xs-12">
        <button type="button" class="icon-inverse btn btn-primary pull-right btn-return btn-dash-nav" ng-click="goToDashboards()">
            <span><img class="img-height-20" src="/assets/images/icon/diagnostic_400x400_s.png" /></span>
            &nbsp; retour dashboards
        </button>
    </div>
</div>

<div class="row projects-title row-without-margin" >
    <div class="col-xs-8">
        <span>
            <img class="dashboard-title-img" src="/assets/images/icon/settings_400x400_s.png"/>
        </span>
        <div class="projects-title-texte">
            Param&eacute;trage des projets
        </div>
    </div>
    <div class="col-xs-4" >
        <div class="row dashboards-search">
            <div class="col-xs-12">
                <div class="input-group projects-search">
                    <input id="criteria" class="form-control" type="text" ng-model="criteria" placeholder="Rechercher...">
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="row row-without-margin">
    <div class="project-nav col-xs-6 col-sm-4">
        <div class="row pills-list">
            <div class="col-xs-6 pills-list-item padding-0" ng-click="goToMy()" ng-class="{'pills-list-item-active': isMyTabSelected()}">
                <div ng-class="{'nav-pills-custom-active': isMyTabSelected(), 'nav-pills-custom-inactive': !isMyTabSelected()}">privés</div>
            </div>
            <div class="col-xs-6 pills-list-item padding-0" ng-click="goToPublic()" ng-class="{'pills-list-item-active': isPublicTabSelected()}">
                <div ng-class="{'nav-pills-custom-active': isPublicTabSelected(), 'nav-pills-custom-inactive': !isPublicTabSelected()}">publics</div>
            </div>
        </div>
    </div>
</div>

<div class="row row-without-margin">
    <div class="col-xs-12 project-carousel" ui-view="nav" id="project"></div>

</div>
