<form ng-show="!success" class="form" name="form" role="form" show-validation class="container-fluid form-horizontal">
    <div class="modal-header">
        <h3 class="modal-title">Paramétrage Projets - {{project.name}}
            <span ng-click="cancel()" class="close-popin glyphicon glyphicon-remove pull-right"></span>
        </h3>

    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-xs-10 project-addconnector-label">
                Ajouter un Connecteur au projet
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 ">

                <span class="members-section-title">1. Choix du connecteur</span>
                <span class="triangle-right "></span>
            </div>
        </div>


        <div class="row members-section">
            <div id="connectorCarousel" class="col-xs-12 carousel slide" data-ride="carousel" data-interval="false">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li ng-repeat="connector_page in carouselInfo.pages track by $index"
                        data-target="#connectorCarousel"
                        data-slide-to="{{connector_page}}"
                        ng-class="{'active':$first}"></li>
                </ol>
                <div class="carousel-inner widgets-list" role="listbox">


                    <div class="item item-width"
                         ng-repeat="connector_start_index in carouselInfo.indexes track by $index"
                         ng-class="{'active':$first}">
                        <div
                            ng-repeat="type in types | limitTo:4:connector_start_index"
                            class="col-xs-6 col-lg-3">
                            <!--<div class="row">-->
                            <!--<div class="col-xs-12">-->
                            <div class='square-box'>
                                <div class='square-content'>
                                    <div class="widget square-elt">
                                        <div class="square-elt">
                                            <div class="square-content-div square-elt btn-connector center-block"
                                                 ng-click="chooseType(type)"
                                                 ng-class="{'btn-connector-selected':selectedType.type==type.type}">
                                                <div class="row row-20">
                                                    <div class="col-xs-12 widget-center btn-connector-label">
                                                        {{type.type | params}}
                                                    </div>
                                                </div>
                                                <div class="row row-60">
                                                    <div class="col-xs-12 widget-center">
                                                        <span><img class="img-reponsive" width="80%"
                                                                   ng-src="{{getImageType(type.type)}}" alt=""/></span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <!-- Debut widgets-->


                            <!-- Fin widgets-->
                        </div>
                    </div>

                    <a class="left carousel-control" role="button" data-slide="prev" ng-click="slide('prev')">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" role="button" data-slide="next" ng-click="slide('next')">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>


            </div>

        </div>


        <div class="row" ng-show="selectedType != null">
            <div class="col-xs-6 ">

                <span class="members-section-title">2. Paramétrage du connecteur</span>
                <span class="triangle-right "></span>
            </div>
            <div class="col-xs-2" ng-show="selectedType != null" style="height:40px">

                <span><img class="img-reponsive" height="100%" ng-src="{{getImageType(selectedType.type)}}"
                           alt=""/></span>
            </div>

        </div>


        <div class="row members-section" ng-show="selectedType != null">
            <div ng-class="showHelp ? 'col-xs-6' : 'col-xs-10' ">

                <div class="row form-group">
                    <label class="col-sm-3 col-xs-4 control-label" for="dashName">Nom*</label>
                    <div class="col-sm-9 col-xs-8">
                        <input required id="dashName" class="form-control" type="text" ng-model="connector.name"
                               placeholder="Nom du connecteur">
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-3 col-xs-4 control-label" for="dashDescription">Description</label>
                    <div class="col-sm-9 col-xs-8">
                        <input id="dashDescription" class="form-control" type="text" ng-model="connector.description"
                               placeholder="Description du connecteur">
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-3 col-xs-4 control-label" for="dashPeriodicity">Périodicité de collecte (> 1min)*</label>
                    <div class="col-sm-9 col-xs-8">
                        <input class="time-picker" required id="dashPeriodicity" ng-model="connector.periodicity"
                            ez-timepicker       = "data"
                            show-meridian       = "false"
                            show-year           = "false"
                            show-month          = "false"
                               inputContainerClass = 'time-input-container'
                            show-day            = "true"
                            data-inc-icon-class = "fa fa-chevron-up"
                            data-dec-icon-class = "fa fa-chevron-down"
                        />
                    </div>
                </div>

                <div class="row form-group" ng-class="{'mandatory': param.objKey.mandatory}"
                     ng-repeat="param in connectorParams">
                    <label class="col-sm-3 col-xs-4 control-label">{{param.objKey.name | params}}<span
                        ng-show="param.objKey.mandatory">*</span></label>
                    <div class="col-sm-9 col-xs-8" ng-switch on="param.objKey.secured">
                        <input ng-switch-when="false" ng-required="{{param.objKey.mandatory}}" class="form-control"
                               type="text" ng-model="param.objValue">
                        <input ng-switch-when="true" ng-required="{{param.objKey.mandatory}}" class="form-control"
                               type="password" ng-model="param.objValue">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        Besoin d'aide pour le paramétrage? <a class="a-link" href="" ng-click="needHelp()"><span ng-hide="showHelp" >Afficher</span><span ng-show="showHelp" >Masquer</span> l'aide.</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-6" ng-show="showHelp" >
                <div ng-switch="showHelp">
                    <div ng-switch-when="true">

                                <ng-include
                                    src="getHelpPath()">
                                </ng-include>

                    </div>
                </div>

            </div>
        </div>

    </div>



    <div class="modal-footer">
        <div class="row members-section" ng-show="connectionError">
            <div class="col-xs-offset-2 col-xs-8">
                <div class="alert alert-danger" role="alert">Echèc de la connexion, paramètres incorrects</div>
            </div>
        </div>
        <button class="btn btn-default" type="button" ng-click="cancel()">Annuler</button>
        <button ng-disabled="form.$invalid || connector.periodicity < 60 " class="btn btn-primary" type="button" ng-click="ok()" ng-show="isConnectorValid">Enregistrer</button>
        <button ng-disabled="form.$invalid || connector.periodicity < 60" class="btn btn-primary" type="button" ng-click="testConnector()" ng-hide="isConnectorValid">Tester</button> <span ng-show="showSpinner"><img height="30px" src="assets/images/indicateur-attente-grand.gif"/></span>
    </div>
</form>
