<div class="row">
    <div class="col-xs-12">
        <button type="button" class="icon-inverse btn btn-primary pull-right btn-return btn-dash-nav"
                ng-click="goToShow()">
            <span><img class="img-height-20" src="/assets/images/icon/accessibility_vision.png"/></span>
            &nbsp; retour consultation
        </button>
    </div>
</div>

<div class="row dashboard-title">
    <div class="col-xs-7 dashboard-title-edit">
        <span>
        <img class="dashboard-title-img" src="/assets/images/icon/diagnostic_400x400_s.png"/>
        </span>
        <input class="dashboard-title-text-edit" type="text" ng-model="currentDashboard.name"
               ng-blur="updateDashboard(currentDashboard)"
               ng-attr-title="{{currentDashboard.name != null ? currentDashboard.name : undefined }}{{currentDashboard.description != null ? '\n'+currentDashboard.description : undefined }}">
        </input>
    </div>

    <div class="col-xs-5">
        <button type="button" class="icon-hover-inverse btn btn-info pull-right btn-dash-nav"
                ng-click="deleteDashboard()">
            <span><img class="img-height-20" src="/assets/images/icon/trash_400x400_s.png"/></span>
            supprimer dashboard
        </button>
        <button type="button" class="icon-hover-inverse btn btn-info pull-right btn-dash-nav"
                ng-click="updateMembers()">
            <span><img class="img-height-20" src="/assets/images/icon/conference_72x72_s.png"/></span>
            g&eacute;rer membres
        </button>

    </div>

</div>


<div class="row">
    <div id="dashCarousel" class="col-xs-12 carousel slide " data-ride="carousel" data-interval="false">
        <!-- Indicators -->

        <div class="row">
            <div class="carousel-slide-remove">
                <div ng-hide="isLastWidgetPage()" class="widget-manage-page widget-add-icon glyphicon glyphicon-minus carrousel-glyphicon" ng-click="deleteWidgetSet()"></div>
            </div>
            <ol class="carousel-indicators" >
                <li ng-repeat="widget_page in widgetPages" data-target="#dashCarousel" data-slide-to="{{widget_page}}"
                    ng-class="{'active':$first}"></li>
            </ol>
            <div class="carousel-slide-add">
                <div class="widget-manage-page widget-add-icon glyphicon glyphicon-plus carrousel-glyphicon" ng-click="addWidgetSet()"></div>
            </div>
        </div>
        <div class="carousel-inner widgets-list" role="listbox">
            <div class="item item-width" ng-repeat="widget_start_index in widgetIndexes" ng-class="{'active':$first}">
                <div
                    ng-repeat="widget in currentDashboard.widgets | orderBy:'gridIndex' | limitTo:8:widget_start_index"
                    class="col-xs-3 widget-spacing">
                    <!--<div class="row">-->
                    <!--<div class="col-xs-12">-->
                    <div class='square-box'>
                        <div class='square-content'>
                            <div class="widget square-elt">
                                <div ng-show="unusedWidget(widget)" class="square-content-div square-elt widget-add"
                                     ng-click="addWidget(widget)">
                                    <span class="content-center widget-add-icon glyphicon glyphicon-plus"></span>

                                </div>
                                <div ng-hide="unusedWidget(widget)" class="square-elt" ng-class="{'widget-num': isNumericWidget(widget),
                                            'widget-percent': isPercentWidget(widget),
                                            'widget-mood': isMoodWidget(widget),
                                            'widget-tuple': isTupleWidget(widget),
                                            'widget-text': isTextWidget(widget)}">

                                    <div class="square-elt widget-card">
                                        <div class="card__front" ng-switch="isTupleWidget(widget)">
                                            <div class="max-height" ng-switch-when="false">

                                                <div class="row row-25">
                                                    <div class="col-xs-12 max-height">
                                                        <div class="max-width text-center max-height widget-label" responsive-title-type>
                                                            <span ng-show="widget.indicator.project != null"
                                                                  class="widget-size"
                                                                  ng-attr-title="{{widget.indicator.project.length > 30 ? widget.indicator.project : undefined }}">
                                                                    {{widget.indicator.project | limitTo: 30}}{{widget.indicator.project.length > 30 ? '...' : ''}}
                                                                &nbsp;
                                                                <img ng-show="widget.indicator.connectorDescription != null"
                                                                     ng-attr-title="{{widget.indicator.connectorDescription}}"
                                                                     class="row-15" src="/assets/images/icon/info.png"/>
                                                            </span>
                                                        </div>
                                                        <span class="pull-right widget-icon" aria-hidden="true"
                                                              ng-click="editWidget(widget)">
                                                            <img class="img-height-20"
                                                                 src="/assets/images/icon/settings_400x400_s.png"/>
                                                        </span>
                                                        <span class="pull-left widget-icon-left" aria-hidden="true"
                                                              ng-click="deleteWidget(widget)">
                                                            <img class="img-height-20"
                                                                 src="/assets/images/icon/modifier_delete_150x150_s.png"/>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="row row-50">
                                                    <div class="col-xs-12 max-height">
                                                        <div class="max-width text-center max-height row">
                                                            <div responsive-value-type
                                                                 ng-hide="isMoodWidget(widget) || widget.kpis[0].value == 'N/A'"
                                                                 class="col-xs-12 widget-center widget-value">
                                                                {{widget.kpis[0].value}}<span ng-show="isPercentWidget(widget)">%</span>
                                                            </div>
                                                            <div ng-show="isMoodWidget(widget) && widget.kpis[0].value != 'N/A'"
                                                                 class="col-xs-10 col-xs-offset-1 widget-center">
                                                                <span class="{{widget.kpis[0].icon}} widget-value-mood">
                                                                </span>
                                                            </div>
                                                            <div
                                                                ng-show="(isNumericWidget(widget) || isPercentWidget(widget)) && widget.trend!=null"
                                                                class="text-center col-xs-12 widget-trend">
                                                                <span ng-class="widget.trend.evolution"></span>
                                                                <span class="widget-trend-diff">
                                                            &nbsp; {{widget.trend.diff}}
                                                            </span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row row-15">
                                                    <div class="col-xs-12 max-height">
                                                        <div class="col-xs-12 text-center widget-label widget-legend"
                                                             responsive-legend-type>
                                                            {{widget.label}} <span ng-hide="widget.indicator.unity == null">({{widget.indicator.unity}})</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row row-10">
                                                    <div class="col-xs-12 max-height">
                                                        <div class="col-xs-12 text-center widget-date">
                                                            {{widget.kpis[0].date | date : 'dd/MM/yyyy HH:mm:ss'}}
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="max-height" ng-switch-when="true">

                                                <div class="row row-25">
                                                    <div class="col-xs-12 max-height" >
                                                        <div class="max-width text-center max-height widget-label" responsive-title-type >

                                                             <span class="widget-size"
                                                                   ng-attr-title="{{widget.indicator.label}}">
                                                                    {{widget.indicator.project + " - " + widget.label | limitTo: 20}}{{widget.indicator.project.length + widget.label.length + 3 > 20 ? '...' : ''}}
                                                                    <img ng-show="widget.indicator.connectorDescription != null"
                                                                         ng-attr-title="{{widget.indicator.connectorDescription}}"
                                                                         class="row-15" src="/assets/images/icon/info.png"/>
                                                            </span>
                                                        </div>
                                                        <span class="pull-right widget-icon" aria-hidden="true"
                                                              ng-click="editWidget(widget)">
                                                            <img class="img-height-20" src="/assets/images/icon/settings_400x400_s.png"/>
                                                        </span>
                                                        <span class="pull-left widget-icon-left" aria-hidden="true"
                                                              ng-click="deleteWidget(widget)">
                                                            <img class="img-height-20" src="/assets/images/icon/modifier_delete_150x150_s.png"/>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="row widget-center row-50" id="widgetCarousel_{{widget.id}}">

                                                    <div class="col-xs-2 max-height margin-top-20" responsive-tuple-type>
                                                        <span ng-click="slideTuple('prev',widget, true)" class="carousel-chevron-left glyphicon glyphicon-chevron-left"></span>
                                                    </div>
                                                    <div class="col-xs-8 max-height widget-value" responsive-tuple-type>
                                                        {{widget.kpis[0].value[widget.slides.active].value}}
                                                    </div>
                                                    <div class="col-xs-2 max-height margin-top-20" responsive-tuple-type>
                                                        <span ng-click="slideTuple('next',widget, true)" class="carousel-chevron-right glyphicon glyphicon-chevron-right"></span>
                                                    </div>

                                                </div>
                                                <div class="row row-15">
                                                    <div class="col-xs-12 max-height">
                                                        <div class="col-xs-12 text-center widget-label widget-legend" responsive-legend-type>
                                                            <span class="widget-size">
                                                                    {{widget.kpis[0].value[widget.slides.active].label}} ({{widget.kpis[0].measure}})
                                                                </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row row-10">
                                                    <div class="col-xs-12 max-height">
                                                        <div class="col-xs-12 text-center widget-date">
                                                            {{widget.kpis[0].date | date : 'dd/MM/yyyy HH:mm:ss'}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Debut widgets-->


                    <!-- Fin widgets-->
                </div>
            </div>

            <a class="left carousel-control" role="button" data-slide="prev" ng-click="slide('prev')">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" role="button" data-slide="next" ng-click="slide('next')">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


    </div>
</div>
