<div class="modal-header">
    <h3 class="modal-title">Mis à jour du profil</h3>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <div class="alert alert-success" ng-show="success">
                <strong>Vous avez mis à jour votre profil!</strong>
            </div>

            <div class="alert alert-danger" ng-show="error">
                <strong>Oups la mise a jour a échoué!</strong> Merci de réessayer.
            </div>

        </div>
        <div class="col-md-8 col-md-offset-2">

            <form ng-show="!success" name="form" role="form" novalidate ng-submit="" show-validation>

                <div class="form-group">
                    <label class="control-label" for="lastname">Nom</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Votre Nom"
                           ng-model="updateAccount.lastname" ng-minlength=1 ng-maxlength=50 ng-pattern="/^[a-z ]*$/" required>
                    <div ng-show="form.lastname.$dirty && form.lastname.$invalid">
                        <p class="help-block"
                           ng-show="form.lastname.$error.required">
                            Le nom est obligatoire.
                        </p>
                        <p class="help-block"
                           ng-show="form.lastname.$error.minlength">
                            Le nom doit contenir au moins un caractère.
                        </p>
                        <p class="help-block"
                           ng-show="form.lastname.$error.maxlength">
                            Le nom de doit pas dépasser 50 caractères.
                        </p>
                        <p class="help-block"
                           ng-show="form.lastname.$error.pattern">
                            Le nom ne doit contenir que des caractères en minuscule.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="firstname">Prénom</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Votre Prenom"
                           ng-model="updateAccount.firstname" ng-minlength=1 ng-maxlength=50 ng-pattern="/^[a-z ]*$/" required>
                    <div ng-show="form.firstname.$dirty && form.firstname.$invalid">
                        <p class="help-block"
                           ng-show="form.firstname.$error.required">
                            Le prénom est obligatoire.
                        </p>
                        <p class="help-block"
                           ng-show="form.firstname.$error.minlength">
                            Le prénom doit contenir au moins un caractère.
                        </p>
                        <p class="help-block"
                           ng-show="form.firstname.$error.maxlength">
                            Le prénom de doit pas dépasser 50 caractères.
                        </p>
                        <p class="help-block"
                           ng-show="form.firstname.$error.pattern">
                            Le prénom ne doit contenir que des caractères en minuscule.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Votre Email"
                           ng-model="updateAccount.email" ng-minlength=5 ng-maxlength=100 required>
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                           ng-show="form.email.$error.required">
                            L'e-mail est obligatoire.
                        </p>
                        <p class="help-block"
                           ng-show="form.email.$error.email">
                            Votre e-mail est invalide.
                        </p>
                        <p class="help-block"
                           ng-show="form.email.$error.minlength">
                            Votre e-mail doit faire au moins 5 caractères.
                        </p>
                        <p class="help-block"
                           ng-show="form.email.$error.maxlength">
                            Votre e-mail ne doit pas dépasser 100 caractères.
                        </p>
                    </div>
                </div>  

              

            </form>
            <p></p>

        </div>
    </div>
</div>
<div class="modal-footer" ng-show="!success">
    <button class="btn btn-default" type="button" ng-click="cancel()">Annuler</button>
    <button class="btn btn-primary" type="button" ng-disabled="form.$invalid" ng-click="update()" >Modifier</button>
</div>
<div class="modal-footer" ng-show="success">
    <button class="btn btn-default" type="button" ng-click="cancel()">Ok</button>
</div>