<div class="modal-header">
    <h3 class="modal-title">{{title}}
        <span ng-click="cancel()" class="close-popin glyphicon glyphicon-remove pull-right"></span>
    </h3>

</div>
<div class="modal-body">
    {{info}}
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Annuler</button>
    <button class="btn btn-primary" type="button" ng-click="ok()">Supprimer</button>
</div>
