<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>spectre</title>


    <!-- build:css assets/styles/main.css -->

    <link href="assets/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/boosted/dist/css/bootstrap-orange2015.css"/>
    <link rel="stylesheet" href="bower_components/boosted/dist/css/boosted2015.css"/>
    <link rel="stylesheet" href="bower_components/boosted/dist/css/orangeHelvetica.css"/>
    <link rel="stylesheet" href="bower_components/boosted/dist/css/orangeIcons.css"/>
    <link rel="stylesheet" href="bower_components/vis/dist/vis.min.css"/>
    <link rel="stylesheet" href="bower_components/time-duration-picker/dist/time-duration-picker.min.css"/>
    <link href="assets/styles/main.css" rel="stylesheet">
    <link href="assets/styles/graph.css" rel="stylesheet">
    <!-- endbuild -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/vis/dist/vis.css" />
    <!-- endbower -->


    <style>/* accessibility */
    table.tablesorter > thead > tr > th[aria-sort="descending"]:after {
        content: "sorted in descending order";
        border: 0 none;
        clip: rect(0px, 0px, 0px, 0px);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    /* accessibility */
    table.tablesorter > thead > tr > th[aria-sort="ascending"]:after {
        content: "sorted in ascending order";
        border: 0 none;
        clip: rect(0px, 0px, 0px, 0px);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    </style>

</head>

<body ng-app="spectreApp">
<!--[if lt IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<!--         <div ng-show="{{ENV === 'dev'}}" class="development" ng-cloak=""></div> -->
<div class="container-fluid container-app">
    <div class="page-wrap dashboards-background">
        <div ui-view="navbar" ng-cloak="" class="row navbar-container" ></div>
        <main role="main" ui-view="content" class="row content main-content row-without-margin"></main>
    </div>
    <div class="site-footer">
        <div ui-view="footer" ng-cloak="" class="row footer "></div>
    </div>

</div>

<!-- Google Analytics: uncomment and change UA-XXXXX-X to be your site's ID.
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
</script>-->

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-cache-buster/angular-cache-buster.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<script src="bower_components/bootstrapaccessibilityplugin/plugins/js/bootstrap-accessibility.js"></script>
<script src="bower_components/jquery-validation/dist/jquery.validate.js"></script>
<script src="bower_components/boosted/dist/js/boosted.js"></script>
<script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
<script src="bower_components/vis/dist/vis.js"></script>
<script src="bower_components/angular-visjs/angular-vis.js"></script>
<script src="bower_components/ngFitText/dist/ng-FitText.min.js"></script>
<script src="bower_components/time-duration-picker/dist/time-duration-picker.min.js"></script>
<!-- endbower -->
<!-- endbower -->
<!-- endbuild -->


<!-- build:js({.tmp,src/main/webapp}) scripts/app.js -->

<script src="scripts/app/app.js"></script>
<script src="scripts/app/app.constants.js"></script>


<script src="scripts/components/auth/principal.service.js"></script>
<script src="scripts/components/auth/auth.jwt.service.js"></script>
<script src="scripts/components/service/dashboard.service.js"></script>
<script src="scripts/components/service/account.service.js"></script>
<script src="scripts/components/service/connector.service.js"></script>
<script src="scripts/components/service/connectors.type.service.js"></script>
<script src="scripts/components/service/widget.service.js"></script>
<script src="scripts/components/service/indicator.service.js"></script>
<script src="scripts/components/service/user.service.js"></script>
<script src="scripts/components/service/register.service.js"></script>
<script src="scripts/components/service/indicator.value.service.js"></script>
<script src="scripts/components/service/visualisation.service.js"></script>
<script src="scripts/components/service/project.service.js"></script>
<script src="scripts/components/service/reset.service.js"></script>

<script src="scripts/components/model/session.model.js"></script>
<script src="scripts/components/model/fullscreen.model.js"></script>
<script src="scripts/components/model/dashboard.model.js"></script>
<script src="scripts/components/model/project.model.js"></script>
<script src="scripts/components/model/refresh.model.js"></script>

<script src="scripts/components/util/truncate.filter.js"></script>
<script src="scripts/components/util/capitalize.filter.js"></script>
<script src="scripts/components/util/parameter.filter.js"></script>
<script src="scripts/components/util/parse-links.service.js"></script>
<script src="scripts/components/util/dateutil.service.js"></script>
<script src="scripts/components/util/data-util.service.js"></script>
<script src="scripts/components/util/sort.directive.js"></script>
<script src="scripts/components/util/modal.indicator.directive.js"></script>
<script src="scripts/components/util/contenteditable.directive.js"></script>
<script src="scripts/components/util/array.service.js"></script>
<script src="scripts/components/util/search.filter.js"></script>
<script src="scripts/components/util/flowType.js"></script>
<script src="scripts/components/util/flowType.service.js"></script>
<script src="scripts/components/util/fullscreen.js"></script>


<script src="scripts/components/navbar/navbar.directive.js"></script>

<script src="scripts/components/navbar/navbar.controller.js"></script>
<script src="scripts/components/footer/footer.controller.js"></script>

<script src="scripts/components/navbar/modal/profile/profile.controller.js"></script>
<script src="scripts/components/navbar/modal/password/password.controller.js"></script>


<script src="scripts/app/account/account.js"></script>

<script src="scripts/app/account/login/login.js"></script>
<script src="scripts/app/account/login/login.controller.js"></script>
<script src="scripts/app/account/register/register.js"></script>
<script src="scripts/app/account/register/register.controller.js"></script>
<script src="scripts/app/account/reset/reset.js"></script>
<script src="scripts/app/account/reset/reset.controller.js"></script>
<script src="scripts/app/account/resetRequest/resetRequest.js"></script>
<script src="scripts/app/account/resetRequest/resetRequest.controller.js"></script>

<script src="scripts/app/projects/projects.js"></script>
<script src="scripts/app/projects/projects.controller.js"></script>
<script src="scripts/app/projects/nav/my/my.controller.js"></script>
<script src="scripts/app/projects/nav/my/modal/update/update.controller.js"></script>
<script src="scripts/app/projects/nav/my/modal/add-connector/add-connector.controller.js"></script>
<script src="scripts/app/projects/nav/my/modal/edit-connector/edit-connector.controller.js"></script>
<script src="scripts/app/projects/nav/my/modal/clone-connector/clone-connector.controller.js"></script>

<script src="scripts/app/projects/nav/public/public.controller.js"></script>


<script src="scripts/app/dashboards/dashboards.controller.js"></script>
<script src="scripts/app/dashboards/dashboards.js"></script>

<script src="scripts/app/dashboards/nav/my/my.controller.js"></script>
<script src="scripts/app/dashboards/nav/public/public.controller.js"></script>
<script src="scripts/app/dashboards/dashboard/show/show.controller.js"></script>
<script src="scripts/app/dashboards/dashboard/edit/edit.controller.js"></script>

<script src="scripts/app/dashboards/dashboard/edit/modal/update/update.controller.js"></script>
<script src="scripts/app/dashboards/dashboard/edit/modal/members/members.controller.js"></script>
<script src="scripts/app/modal/delete/delete.controller.js"></script>

<script src="scripts/app/dashboards/dashboard/create/create.controller.js"></script>
<script src="scripts/app/dashboards/dashboard/create/create.js"></script>

<script src="scripts/components/release/release.controller.js"></script>
<script src="scripts/components/release/release.js"></script>

<script src="scripts/components/service/release.service.js"></script>

<script src="scripts/app/dashboards/share/share.controller.js"></script>

<!-- endbuild -->
</body>
</html>
