<div class="row">
    <div id="projCarousel" class="col-xs-12 carousel slide" data-ride="carousel" data-interval="false">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li ng-repeat="proj_page in carouselInfo.pages track by $index" data-target="#projCarousel"
                data-slide-to="{{proj_page}}"
                ng-class="{'active':$first}"></li>
        </ol>
        <div class="carousel-inner widgets-list" role="listbox">


            <div class="item item-width" ng-repeat="project_start_index in carouselInfo.indexes track by $index"
                 ng-class="{'active':$first}">
                <div
                    ng-repeat="project in currentProjects | limitTo:12:project_start_index"
                    class="col-xs-6 col-md-3 col-lg-2 widget-project-spacing">
                    <!--<div class="row">-->
                    <!--<div class="col-xs-12">-->
                    <div class='square-box'>
                        <div class='square-content'>
                            <div class="widget square-elt">
                                <div class="square-elt">
                                    <div class="square-elt widget-card" ng-switch="project.name=='ADDNEW9876'">
                                        <div ng-switch-when="true" class="square-content-div square-elt widget-add"
                                             ng-click="createProject()">
                                            <span
                                                class="content-center widget-add-icon glyphicon glyphicon-plus"></span>

                                        </div>
                                        <div class="square-elt project-card" ng-switch-when="false">
                                            <div class="row row-20">
                                                <div class="col-xs-12 icon-inverse content-center"
                                                     ng-show="project.admin">
                                                        <span class="pull-right" aria-hidden="true"
                                                              ng-click="editProject(project)">
                                                            <img class="img-height-30"
                                                                 src="/assets/images/icon/settings_400x400_s.png"/>
                                                        </span>
                                                        <span class="pull-left" aria-hidden="true"
                                                              ng-click="deleteProject(project)">
                                                            <img class="img-height-30"
                                                                 src="/assets/images/icon/modifier_delete_150x150_s.png"/>
                                                        </span>


                                                </div>
                                            </div>

                                            <div class="row row-60">
                                                <div class="col-xs-12 max-height widget-center project-value">
                                                    {{project.name}}
                                                </div>
                                            </div>

                                            <div class="row row-20">
                                                <div class="col-xs-12 max-height text-center widget-label"
                                                     ng-switch="isFavourite(project) && project.admin">
                                                    <span ng-switch-when="true" class="project_favourite"
                                                          aria-hidden="true"
                                                          ng-click="removeFavourite(project)">
                                                            <img class="img-height-20"
                                                                 src="/assets/images/icon/public_favoris_white_on.png"/>
                                                            </span>


                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <!-- Debut widgets-->


                    <!-- Fin widgets-->
                </div>
            </div>

            <a class="left carousel-control" role="button" data-slide="prev" ng-click="slide('prev')">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" role="button" data-slide="next" ng-click="slide('next')">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


    </div>
</div>
