<div class="row">
    <div class="col-xs-6">
        <button type="button" class="icon-hover btn btn-default pull-left btn-return btn-dash-nav"
                ng-click="fullScreen()">
            <span class="glyphicon glyphicon-fullscreen"></span>
        </button>
    </div>
</div>


<div class="row dashboard-title">
    <div class="col-xs-6">
        <span>
            <img class="dashboard-title-img" src="/assets/images/icon/diagnostic_400x400_s.png"/>
        </span>
        <div ng-switch="reachable">
          <div class="dashboard-title-text" ng-switch-when="true"
               ng-attr-title="{{sharedDashboard.name}}">
              {{sharedDashboard.name | limitTo: 30}}{{sharedDashboard.name.length > 30 ? '...' : ''}}
              &nbsp;
              <img ng-show="widget.indicator.connectorDescription != null"
                   class="row-15 widget-center"
                   ng-attr-title="{{widget.indicator.connectorDescription}}"
                   src="/assets/images/icon/info.png"/>
          </div>
          <div ng-switch-when="false" class="dashboard-title-text">
                Dashboard privé, accès refusé
          </div>
        </div>
    </div>
</div>

<div class="row">
    <div id="dashCarousel" class="col-xs-12 carousel slide" data-ride="carousel">
        <!-- Indicators -->


        <ol class="carousel-indicators">
            <li ng-repeat="widget_page in widgetPages" data-target="#dashCarousel" data-slide-to="{{widget_page}}"
                ng-class="{'active':$first}"></li>
        </ol>
        <div ng-show="showAutoSliding()" class="carousel-slide-add">
            <div ng-show="isCarouselSliding"
                 class="col-lg-2 col-md-2 col-xs-2 col-lg-offset-6 col-md-offset-6 col-xs-offset-6">
                <div class="widget-manage-page widget-add-icon glyphicon glyphicon-pause carrousel-glyphicon"
                     ng-click="pauseCarousel()"></div>
            </div>
            <div ng-hide="isCarouselSliding"
                 class="col-lg-2 col-md-2 col-xs-2 col-lg-offset-6 col-md-offset-6 col-xs-offset-6">
                <div class="widget-manage-page widget-add-icon glyphicon glyphicon-play carrousel-glyphicon"
                     ng-click="playCarousel()"></div>
            </div>
        </div>
        <div class="carousel-inner widgets-list" role="listbox">


            <div class="item item-width" ng-repeat="widget_start_index in widgetIndexes" ng-class="{'active':$first}">
                <div
                    ng-repeat="widget in sharedDashboard.widgets | orderBy:'gridIndex' | limitTo:8:widget_start_index"
                    class="col-xs-3 widget-spacing">
                    <div class='square-box'>
                        <div class='square-content'>
                            <div class="widget square-elt">
                                <div class="square-elt" ng-class="{'widget-num': isNumericWidget(widget),
                                            'widget-percent': isPercentWidget(widget),
                                            'widget-mood': isMoodWidget(widget),
                                            'widget-tuple': isTupleWidget(widget),
                                            'widget-text': isTextWidget(widget)}">

                                    <div class="square-elt widget-card effect__click"
                                         ng-class="{'flipped': widget.isFlipped}">
                                        <div class="card__front" ng-switch="isTupleWidget(widget)">
                                            <div ng-switch-when="false" class="max-height">
                                                <div class="row row-25">
                                                    <div class="col-xs-12 max-height">
                                                        <div class="max-width text-center max-height widget-label"
                                                             responsive-title-type>
                                                            <span ng-show="widget.indicator.project != null"
                                                                  class="widget-size"
                                                                  ng-attr-title="{{widget.indicator.project.length > 30 ? widget.indicator.project : undefined }}">
                                                                {{widget.indicator.project | limitTo: 30}}{{widget.indicator.project.length > 30 ? '...' : ''}}
                                                                &nbsp;
                                                                <img ng-show="widget.indicator.connectorDescription != null"
                                                                     ng-attr-title="{{widget.indicator.connectorDescription}}"
                                                                     class="row-15"
                                                                     src="/assets/images/icon/info.png"/>
                                                            </span>
                                                        </div>
                                                        <span ng-show="isNumericWidget(widget) || isPercentWidget(widget)"
                                                              class="glyphicon glyphicon-stats pull-right widget-icon"
                                                              aria-hidden="true"
                                                              ng-click="flipp(widget)"></span>
                                                    </div>
                                                </div>
                                                <div class="row row-50">
                                                    <div class="col-xs-12 max-height">
                                                        <div class="max-width text-center max-height">

                                                            <div responsive-value-type
                                                                 ng-hide="isMoodWidget(widget) || widget.kpis[0].value == 'N/A'"
                                                                 class="col-xs-12 widget-center widget-value">
                                                                {{widget.kpis[0].value}}<span ng-show="isPercentWidget(widget)">%</span>
                                                            </div>
                                                            <div ng-show="isMoodWidget(widget) && widget.kpis[0].value != 'N/A'"
                                                                 class="col-xs-12 widget-center">
                                                                <span class="{{widget.kpis[0].icon}} widget-value-mood">
                                                                </span>
                                                            </div>
                                                            <div
                                                                ng-show="(isNumericWidget(widget) || isPercentWidget(widget)) && widget.trend!=null"
                                                                class="text-center col-xs-12 widget-trend">
                                                                <span ng-class="widget.trend.evolution"></span>
                                                                <span class="widget-trend-diff">
                                                            &nbsp; {{widget.trend.diff}}
                                                            </span>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="row row-15">
                                                    <div class="col-xs-12 max-height">
                                                        <div class="col-xs-12 text-center widget-label widget-legend"
                                                             responsive-legend-type>
                                                            {{widget.label}} <span ng-hide="widget.indicator.unity == null">({{widget.indicator.unity}})</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row row-10">
                                                    <div class="col-xs-12 max-height">
                                                        <div class="col-xs-12 text-center widget-date">
                                                            {{widget.kpis[0].date | date : 'dd/MM/yyyy HH:mm:ss'}}
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div ng-switch-when="true" class="max-height">

                                                <div class="row row-25">
                                                    <div class="col-xs-12 max-height">
                                                        <div class="max-width text-center max-height widget-label"
                                                             responsive-title-type>
                                                            <span class="widget-size"
                                                                  ng-attr-title="{{widget.indicator.label}}">
                                                                    {{widget.indicator.project + " - " + widget.label | limitTo: 20}}{{widget.indicator.project.length + widget.label.length + 3 > 20 ? '...' : ''}}
                                                                    <img ng-show="widget.indicator.connectorDescription != null"
                                                                         ng-attr-title="{{widget.indicator.connectorDescription}}"
                                                                         class="row-15" src="/assets/images/icon/info.png"/>
                                                            </span>
                                                            <span ng-show="!isTupleOn(widget)" class="pull-left"
                                                                  aria-hidden="true"
                                                                  ng-click="switchAutoTuple(widget); toggleAutoTuple(widget)">
                                                                <div class="glyphicon glyphicon-play"></div>
                                                            </span>
                                                            <span ng-show="isTupleOn(widget)" class="pull-left"
                                                                  aria-hidden="true"
                                                                  ng-click="switchAutoTuple(widget); toggleAutoTuple(widget)">
                                                                <div class="glyphicon glyphicon-pause"></div>
                                                            </span>
                                                        </div>
                                                        <span ng-show="isNumericOrPercentTupleWidget(widget)"
                                                              class="glyphicon glyphicon-stats pull-right widget-icon"
                                                              aria-hidden="true"
                                                              ng-click="flipp(widget)"></span>

                                                    </div>
                                                </div>
                                                <div class="row widget-center row-50" id="widgetCarousel_{{widget.id}}">

                                                    <div class="col-xs-2 max-height margin-top-20" responsive-tuple-type>
                                                        <span ng-click="slideTuple('prev',widget, true)"
                                                              class="carousel-chevron-left glyphicon glyphicon-chevron-left"></span>
                                                    </div>
                                                    <div class="col-xs-8 max-height widget-value" responsive-tuple-type>
                                                        {{widget.kpis[0].value[widget.slides.active].value}}
                                                    </div>
                                                    <div class="col-xs-2 max-height margin-top-20" responsive-tuple-type>
                                                        <span ng-click="slideTuple('next',widget, true)"
                                                              class="carousel-chevron-right glyphicon glyphicon-chevron-right"></span>
                                                    </div>
                                                </div>
                                                <div class="row row-15">
                                                    <div class="col-xs-12 max-height">
                                                        <div class="col-xs-12 text-center widget-label widget-legend"
                                                             responsive-legend-type>
                                                            <span ng-show="widget.indicator.project != null" class="widget-size">
                                                                    {{widget.kpis[0].value[widget.slides.active].label}} ({{widget.kpis[0].measure}})
                                                                </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row row-10">
                                                    <div class="col-xs-12 max-height">
                                                        <div class="col-xs-12 text-center widget-date">
                                                            {{widget.kpis[0].date | date : 'dd/MM/yyyy HH:mm:ss'}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card__back">
                                            <div class="max-height">
                                                <div class="row row-15">
                                                    <div class="col-xs-12 text-center widget-label"
                                                         responsive-title-type>
                                                        <span ng-show="widget.indicator.project != null"
                                                              class="widget-size"
                                                              ng-attr-title="{{widget.indicator.project.length > 30 ? widget.indicator.project : undefined }}">
                                                                    {{widget.indicator.project | limitTo: 30}}{{widget.indicator.project.length > 30 ? '...' : ''}}
                                                            &nbsp;
                                                            <img ng-show="widget.indicator.connectorDescription != null"
                                                                 ng-attr-title="{{widget.indicator.connectorDescription}}"
                                                                 class="row-15"
                                                                 id="icon-info-back"
                                                                 src="/assets/images/icon/info.png"/>
                                                        </span>
                                                        <span ng-show="!isLegend && isTupleWidget(widget)"
                                                              class="pull-left"
                                                              aria-hidden="true"
                                                              ng-click="hideLegend()">
                                                            <div
                                                                class="custom-legend carousel-chevron-right glyphicon glyphicon glyphicon-eye-close"></div>
                                                        </span>
                                                        <span ng-show="isLegend && isTupleWidget(widget)"
                                                              class="pull-left"
                                                              aria-hidden="true"
                                                              ng-click="hideLegend()">
                                                            <div
                                                                class="custom-legend carousel-chevron-right glyphicon glyphicon glyphicon-eye-open"></div>
                                                        </span>
                                                        <span class="pull-right"
                                                              aria-hidden="true"
                                                              ng-click="flipp(widget)">
                                                            <img class="dashboard-flip-back" src="/assets/images/icon/undo_400x400_s.png"/>
                                                        </span>
                                                    </div>
                                                </div>

                                                <div ng-show="!isTupleWidget(widget)" class="row widget-center row-75">
                                                    <vis-graph2d class="col-xs-12 max-height" data="widget.graph.data"
                                                                 options="widget.graph.options"></vis-graph2d>
                                                </div>
                                                <div ng-show="isTupleWidget(widget)" class="row widget-center row-75">
                                                    <div id="Legend" class="external-legend"></div>
                                                    <vis-graph2d class="col-xs-12 max-height" data="widget.graph.data"
                                                                 options="widget.graph.options"></vis-graph2d>
                                                </div>

                                                <div class="row row-10">
                                                    <div class="col-xs-12 text-center widget-label">
                                                        {{widget.label}} <span ng-hide="widget.indicator.unity == null">({{widget.indicator.unity}})</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a class="left carousel-control" role="button" data-slide="prev" ng-click="slide('prev')">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" role="button" data-slide="next" ng-click="slide('next')">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


    </div>
</div>
