<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Réinitialiser mon mot de passe</h1>
            <div class="alert alert-danger" ng-show="doNotMatch">
                The password and its confirmation do not match!
            </div>
            <div class="alert alert-success" ng-show="success">
                <strong>Votre mot de passe a été réinitialisé avec succès ! </strong>
                <div class="alert">
                    Vous pouvez maintenant <a class="alert-link" href="#/login">vous identifier.</a>
                </div>
            </div>
            <div class="alert alert-danger" ng-show="error">
                <strong>Une erreur est survenue.</strong>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <form ng-show="!success" name="form" role="form" novalidate ng-submit="resetPassword()" show-validation>
                <div class="form-group">
                    <label class="control-label" for="password">Nouveau mot de passe</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="New password"
                           ng-model="password" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                               ng-show="form.password.$error.required">
                            Your password is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.password.$error.minlength">
                            Your password is required to be at least 5 characters.
                        </p>
                        <p class="help-block"
                               ng-show="form.password.$error.maxlength">
                            Your password cannot be longer than 50 characters.
                        </p>
                    </div>
                    <password-strength-bar password-to-check="password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirmPassword">Confirmation du nouveau mot de passe</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm the new password"
                           ng-model="confirmPassword" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.required">
                            Your confirmation password is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.minlength">
                            Your confirmation password is required to be at least 5 characters.
                        </p>
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.maxlength">
                            Your confirmation password cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Réinitialiser</button>
            </form>
        </div>
    </div>
</div>
