<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Réinitialisation du mot de passe</h1>
            <div class="alert alert-success" ng-show="success">
                <strong>Email envoyé !</strong>
            </div>
            <div class="alert alert-danger" ng-show="error">
                <strong>Une erreur est survenue.</strong> Vérifiez votre identifiant.
            </div>
        </div>

        <div class="col-md-8 col-md-offset-2">
            <form ng-show="!success" name="form" role="form" novalidate ng-submit="reset()" show-validation>
                <div class="form-group">
                    <label class="control-label" for="email">Email de votre compte :</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your e-mail"
                           ng-model="email" ng-minlength=5 ng-maxlength=100 required>
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                           ng-show="form.email.$error.required">
                            Your e-mail is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.email.$error.email">
                            Your e-mail is invalid.
                        </p>
                        <p class="help-block"
                           ng-show="form.email.$error.minlength">
                            Your e-mail is required to be at least 5 characters.
                        </p>
                        <p class="help-block"
                           ng-show="form.email.$error.maxlength">
                            Your e-mail cannot be longer than 100 characters.
                        </p>
                    </div>
                </div>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Réinitialiser</button>
            </form>
        </div>
    </div>
</div>
