<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Enregistrement</h1>

            <div class="alert alert-success" ng-show="success">
                <strong>Félicitation pour votre enregistrement !</strong> Vérifiez votre email pour avoir la confirmation.
                <div class="alert">
                    You can <a class="alert-link" href="#/login">Login</a> now
                </div>
            </div>

            <div class="alert alert-danger" ng-show="error">
                <strong>Oups l'enregistrement a échoué!</strong> Merci de réessayer.
            </div>

            <div class="alert alert-danger" ng-show="errorUserExists">
                <strong>Ce login est déjà utilisé!</strong> Merci d'en choisir un autre.
            </div>

            <div class="alert alert-danger" ng-show="errorEmailExists">
                <strong>Cette adresse mail est déjà utilisée!</strong> Merci d'en choisir une autre.
            </div>

            <div class="alert alert-danger" ng-show="doNotMatch">
                Le mot de passe ne correspond pas à sa confirmation!
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <form ng-show="!success" name="form" role="form" novalidate ng-submit="register()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="login">Login</label>
                    <input type="text" class="form-control" id="login" name="login" placeholder="Votre login"
                           ng-model="registerAccount.login" ng-minlength=1 ng-maxlength=50 ng-pattern="/^[a-z0-9]*$/" required>
                    <div ng-show="form.login.$dirty && form.login.$invalid">
                        <p class="help-block"
                               ng-show="form.login.$error.required">
                            Le login est obligatoire.
                        </p>
                        <p class="help-block"
                               ng-show="form.login.$error.minlength">
                            Le login doit contenir au moins un caractère.
                        </p>
                        <p class="help-block"
                               ng-show="form.login.$error.maxlength">
                            Le login de doit pas dépasser 50 caractères.
                        </p>
                        <p class="help-block"
                               ng-show="form.login.$error.pattern">
                            Le login ne doit contenir que des caractères en minuscule ou des chiffres.
                    </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="lastname">Nom</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Votre nom"
                           ng-model="registerAccount.lastname" ng-minlength=1 ng-maxlength=50 ng-pattern="/^[a-z ]*$/" required>
                    <div ng-show="form.lastname.$dirty && form.lastname.$invalid">
                        <p class="help-block"
                           ng-show="form.lastname.$error.required">
                            Le nom est obligatoire.
                        </p>
                        <p class="help-block"
                           ng-show="form.lastname.$error.minlength">
                            Le nom doit contenir au moins un caractère.
                        </p>
                        <p class="help-block"
                           ng-show="form.lastname.$error.maxlength">
                            Le nom de doit pas dépasser 50 caractères.
                        </p>
                        <p class="help-block"
                           ng-show="form.lastname.$error.pattern">
                            Le nom ne doit contenir que des caractères en minuscule.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="firstname">Prénom</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Votre prénom"
                           ng-model="registerAccount.firstname" ng-minlength=1 ng-maxlength=50 ng-pattern="/^[a-z ]*$/" required>
                    <div ng-show="form.firstname.$dirty && form.firstname.$invalid">
                        <p class="help-block"
                           ng-show="form.firstname.$error.required">
                            Le prénom est obligatoire.
                        </p>
                        <p class="help-block"
                           ng-show="form.firstname.$error.minlength">
                            Le prénom doit contenir au moins un caractère.
                        </p>
                        <p class="help-block"
                           ng-show="form.firstname.$error.maxlength">
                            Le prénom de doit pas dépasser 50 caractères.
                        </p>
                        <p class="help-block"
                           ng-show="form.firstname.$error.pattern">
                            Le prénom ne doit contenir que des caractères en minuscule.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Votre e-mail"
                           ng-model="registerAccount.email" ng-minlength=5 ng-maxlength=100 required>
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                           ng-show="form.email.$error.required">
                            L'e-mail est obligatoire.
                        </p>
                        <p class="help-block"
                           ng-show="form.email.$error.email">
                            Votre e-mail est invalide.
                        </p>
                        <p class="help-block"
                           ng-show="form.email.$error.minlength">
                            Votre e-mail doit faire au moins 5 caractères.
                        </p>
                        <p class="help-block"
                           ng-show="form.email.$error.maxlength">
                            Votre e-mail ne doit pas dépasser 100 caractères.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="password">Nouveau mot de passe</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Votre mot de passe"
                           ng-model="registerAccount.password" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                               ng-show="form.password.$error.required">
                            Le mot de passe est obligatoire.
                        </p>
                        <p class="help-block"
                               ng-show="form.password.$error.minlength">
                            Le mot de passe doit faire au moins 5 caractères.
                        </p>
                        <p class="help-block"
                               ng-show="form.password.$error.maxlength">
                            Le mot de passe ne doit pas dépasser 50 caractères.
                        </p>
                    </div>
                    <password-strength-bar password-to-check="registerAccount.password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirmPassword">Confirmation du mot de passe</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirmer votre nouveau mot de passe"
                           ng-model="confirmPassword" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.required">
                            La confirmation du mot de passe est obligatoire.
                        </p>
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.minlength">
                            Votre confirmation de mot de passe doit faire au moins 5 caractères.
                        </p>
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.maxlength">
                             Votre confirmation de mot de passe ne doit pas dépasser 50 caractères.
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">S'enregistrer</button>
            </form>
            <p></p>

        </div>
    </div>
</div>
