<div class="modal-header">
    <h3 class="modal-title">Dashboard {{dashboard.name}} - Gestion des membres et droits
        <span ng-click="cancel()" class="close-popin glyphicon glyphicon-remove pull-right"></span>
    </h3>

</div>
<div class="modal-body">

    <div class="row">
        <div class="col-xs-6 ">

            <span class="members-section-title">1. Gestion des droits</span>
            <span class="triangle-right "></span>
        </div>
    </div>

    <div class="row members-section">
        <label class="col-sm-offset-1 col-sm-4 col-xs-offset-1 col-xs-6 control-label">Visibilit&eacute; du dashboard : </label>
            <span class="col-sm-1 col-xs-1" ng-show="dashboard.reachable">public</span>
            <span class="col-sm-1 col-xs-1" ng-hide="dashboard.reachable">privé</span>
        <div class="col-sm-6 col-xs-4">
            <img class="toggle-img" ng-click="togglePrivate()"
                 ng-src="{{dashboard.reachable && 'assets/images/asset_icon_switch_off.png' || 'assets/images/asset_icon_switch_on.png'}}"/>
        </div>
    </div>

    <div class="row members-section" ng-show="dashboard.reachable">

        <label class="col-sm-offset-1 col-sm-4 col-xs-offset-1 col-xs-6 control-label">URL de partage : </label>

        <div class="col-sm-7 col-xs-5">

        <div class="input-group search-input">
            <input id="share" class="form-control" type="text" value="http://{{host}}:{{port}}/#/dashboards/public/shared?shareId={{dashboard.shareid}}" readonly>
            <span class="input-group-btn">
                <button class="btn btn-info" type="button" ng-click="copyToClipboard('#share')">
                    <span class="glyphicon glyphicon-copy"></span>
                </button>
            </span>
        </div>

        </div>

    </div>

    <div class="row">
        <div class="col-xs-6 ">
            <span class="members-section-title">2. Gestion des membres</span>
            <span class="triangle-right "></span>
        </div>
    </div>

    <div class="row members-section">
        <label class="col-sm-offset-1 col-sm-4 col-xs-offset-1 col-xs-6 control-label">Ajouter un utilisateur : </label>



        <div class="col-sm-7 col-xs-5">

            <div class="search-input input-group" uib-dropdown >
                <input class=" form-control" type="text" uib-dropdown-toggle ng-model="criteria"
                       placeholder="Rechercher un utilisateur par login">
                <ul class="max-width dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                    <li role="menuitem" ng-repeat="user in users | membersIn:dashboard.members| searchUsers:criteria "><a
                        ng-click="addUser(user)">{{user.login}} - {{user.firstname}} {{user.lastname}}</a></li>
                </ul>
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button"><span
                        class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </div>

    <div class="row members-section">

        <div class="row">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Membres du dashboard</div>


                <!-- Table -->
                <table class="table">
                    <tr>
                        <th class="col-xs-5">Utilisateur</th>
                        <th class="col-xs-5">Rôle</th>
                        <th class="col-xs-2"></th>
                    </tr>
                    <tr ng-repeat="user in dashboard.members">
                        <td>{{user.login}} <span ng-hide="myaccount.login==user.login">- {{user.firstname}} {{user.lastname}}</span><span ng-show="myaccount.login==user.login">(c'est vous)</span></td>
                        <td><span ng-show="user.admin">Administrateur</span>
                            <span ng-hide="user.admin">Utilisateur</span>
                            <img ng-hide="myaccount.login==user.login" height="30px" ng-click="switchAdmin(user)"
                                 ng-src="{{user.admin && 'assets/images/asset_icon_switch_on.png' || 'assets/images/asset_icon_switch_off.png'}}"/>
                        </td>
                        </td>
                        <td ng-switch="myaccount.login==user.login">
                            <button ng-switch-when="false" class="pull-right glyphicon glyphicon-minus"
                                    ng-click="removeUser(user)"></button>
                        </td>
                    </tr>

                </table>
            </div>
        </div>

    </div>
    <!--<div class="row form-group">-->
    <!--<div class="col-xs-offset-8 col-xs-4">-->
    <!--<input class="btn btn-primary pull-right" ng-disabled="form.$invalid" type="submit"  value="Valider"/></input>-->
    <!--</div>-->
    <!--</div>-->

</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Annuler</button>
    <button class="btn btn-primary" type="button" ng-click="ok()">Enregistrer</button>
</div>
