<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.activation.title}">Création de votre compte Spectre</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.activation.greeting(${user.firstname})}">
    Dear
</p>
<p th:text="#{email.activation.text1}">
    Votre compte Spectre a été créé !
</p>
<p th:text="#{email.activation.text3}">
    Pour toutes questions vous pouvez utiliser ces liens :
</p>
<p>
    <ul>
        <li>
        Notre page <a href="https://plazza.orange.com/groups/spectre">plazza</a>
        </li>
        <li>
            Notre <a href="http://dvxx2asc83.rouen.francetelecom.fr:4567">documentation</a>
        </li>
        <li>
            Nous envoyer un mail à : spectre.coreteam@orange.com
        </li>
    </ul>
</p>
<p>
    <span th:text="#{email.activation.text2}">Bonne journée! </span>
    <br/>
    <em th:text="#{email.signature}">L'équipe Spectre.</em>
</p>
</body>
</html>
