<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.reset.title}">Réinitialisation du mot de passe Spectre</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.reset.greeting(${user.firstname})}">
            Dear
        </p>
        <p th:text="#{email.reset.text1}">
            Une demande de réinitialisation de votre mot de passe Spectre a été demandée. Cliquez sur le lien ci dessous pour finaliser la réinitialisation.
        </p>
        <p>
            <a th:href="@{|${baseUrl}/#/reset?key=${resetKey}|}"
               th:text="|${user.login}|">Lien de réinitialisation</a>
        </p>
        <p>
            <span th:text="#{email.reset.text2}">Bonne journée, </span>
            <br/>
            <em th:text="#{email.signature}">L'équipe Spectre.</em>
        </p>
    </body>
</html>
