<header role="banner" ng-hide="isFullScreen">
    <nav class="navbar navbar-inverse navbar-spectre" role="navigation" >
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header navbar-header-spectre">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand navbar-brand-spectre" ng-click="goHome()">
                <img id="orange-logo" src="assets/images/spectre_logo_white_HD.png" alt=''/>
                <!--<span ng-click="goHome()" class="navbar-brand-text" id="app_name" >SPECTRE</span>-->
            </span>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse" >

           <a ui-sref-active="active" ui-sref="dashboards" data-toggle="collapse" data-target=".navbar-collapse.in">
               <span>Spectre</span>
           </a>
            <ul class="nav navbar-nav nav-menu navbar-right" ng-switch="isAuthenticated()">

                <li ng-switch-when="false" class="nav-item nav-item-spectre">
                    <a href="" id="sign-in" ui-sref="login">connexion</a>
                </li>

                <li ng-switch-when="false" class="nav-item nav-item-spectre">
                    <a href="" id="sign-up" ui-sref="register">s&#39;enregistrer</a>
                </li>

                <li ng-switch-when="true" class="nav-item nav-item-spectre">
                    <a href="" id="my-projects" title="aller vers mes projets" ui-sref="projects-my" class="icon-inverse">
                        <span class=" pull-right" aria-hidden="true">
                            <img id="img-settings" src="/assets/images/icon/settings_400x400_s.png" />
                        </span>
                    </a>
                </li>

                <li ng-switch-when="true" class="nav-item nav-item-spectre">

                    <div uib-dropdown is-open="status.isopen">
                        <button id="single-button" type="button" class="icon-inverse btn btn-user-menu" uib-dropdown-toggle ng-disabled="disabled">
                            <span class="pull-right" aria-hidden="true">
                                <img id="img-avatar-status" src="/assets/images/icon/avatar_status_400x400_s.png" />
                            </span>
                            <!--<span class="glyphicon glyphicon-user" aria-hidden="true"></span>-->
                            <!--<span class="orange">{{login}}</span>-->
                            <!--<span class="caret"></span>-->
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem"><a href="" ng-click="logout()" id="logout" data-toggle="collapse" data-target=".navbar-collapse.in">d&eacute;connexion</a>
                            </li>
                            <li role="menuitem"><a href="" ng-click="changeProfile()" id="changeProfile">mon profil</a></li>
                            <li role="menuitem"><a href="" ng-click="changePassword()" id="changePassword">mot de passe</a></li>
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
    </nav>
</header>
