<div class="well well-lg row">
    <div class="col-xs-11 h4">Cr&eacute;er un dashboard</div>
</div>
<div class="row">
    <div class="col-xs-12">
        <form ng-submit="submit()" id="newDashboard" class="container-fluid form-horizontal" ng-show="!success"
              class="form" name="form" role="form" show-validation>
            <div class="row form-group">
                <label class="col-sm-2 col-xs-4 control-label" for="dashName">Nom*</label>
                <div class="col-sm-10 col-xs-8">
                    <input id="dashName" class="form-control" type="text" ng-model="newDashboard.name"
                           placeholder="Nom du dashboard" required>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-2 col-xs-4 control-label" for="dashDescription">Description</label>
                <div class="col-sm-10 col-xs-8">
                    <input id="dashDescription" class="form-control" type="text" ng-model="newDashboard.description"
                           placeholder="Description du dashboard">
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-2 col-xs-4 control-label">Priv&eacute;</label>
                <div class="col-sm-10 col-xs-8">
                    <img ng-click="togglePrivate()"
                         ng-src="{{newDashboard.reachable && 'assets/images/asset_icon_switch_off.png' || 'assets/images/asset_icon_switch_on.png'}}"/>

                </div>
            </div>
                <div class="row form-group">
                    <label class="col-sm-2 col-xs-5 control-label">Ajouter un nouvel utilisateur</label>
                    <div class="col-sm-10 col-xs-7">
                        <div class="input-group" uib-dropdown dropdown-append-to-body>
                            <input class="form-control" type="text" uib-dropdown-toggle ng-model="criteria"
                                   placeholder="Rechercher un utilisateur par login">
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                                aria-labelledby="btn-append-to-body">
                                <li ng-repeat="user in users | membersIn:futurMembers | searchUsers:criteria"><a
                                    ng-click="addUser(user)">{{user.login}} - {{user.firstname}} {{user.lastname}}</a></li>
                            </ul>
                                <span class="input-group-btn">
                                    <button class="btn btn-info" type="button"><span
                                        class="glyphicon glyphicon-search"></span></button>
                                </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Membres du dashboard</div>


                        <!-- Table -->
                        <table class="table">
                            <tr>
                                <th class="col-xs-5">Utilisateur</th>
                                <th class="col-xs-5">Rôle</th>
                                <th class="col-xs-2"></th>
                            </tr>
                            <tr ng-repeat="user in futurMembers">
                                <td>{{user.login}} <span ng-hide="myaccount.login==user.login">- {{user.firstname}} {{user.lastname}}</span><span ng-show="myaccount.login==user.login">(c'est vous)</span></td>
                                <td><span ng-show="user.admin">Administrateur</span>
                                    <span ng-hide="user.admin">Utilisateur</span>
                                    <img ng-hide="myaccount.login==user.login" height="30px"
                                         ng-click="switchAdmin(user)"
                                         ng-src="{{user.admin && 'assets/images/asset_icon_switch_on.png' || 'assets/images/asset_icon_switch_off.png'}}"/>
                                </td>
                                </td>
                                <td>
                                    <button ng-hide="myaccount.login==user.login"
                                            class="pull-right glyphicon glyphicon-minus"
                                            ng-click="remove(user)"></button>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div></div>

            <div class="row form-group">
                <div class="col-xs-offset-8 col-xs-4">
                    <input class="btn btn-primary pull-right" ng-disabled="form.$invalid" type="submit"
                           value="Valider"/></input>
                </div>
            </div>
        </form>
    </div>
</div>
