<div class="modal-header">
    <h3 class="modal-title">Paramétrage Projets
        <span ng-click="cancel()" class="close-popin glyphicon glyphicon-remove pull-right"></span>
    </h3>

</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-6 ">

            <span class="members-section-title">1. Définition du projet</span>
            <span class="triangle-right "></span>
        </div>
    </div>

    <div class="row members-section">
        <label class="col-sm-offset-1 col-sm-4 col-xs-offset-1 col-xs-6 control-label">Nom du projet : </label>
        <div class="col-sm-6 col-xs-4">
            <input class="project-name-input" type="text" ng-model="project.name" placeholder="Nom du projet">
            </input>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 ">

            <span class="members-section-title">2. Gestion des droits</span>
            <span class="triangle-right "></span>
        </div>
    </div>

    <div class="row members-section">
        <label class="col-sm-offset-1 col-sm-4 col-xs-offset-1 col-xs-6 control-label">Visibilit&eacute; du projet
            : </label>
        <span class="col-sm-1 col-xs-1" ng-show="project.reachable">public</span>
        <span class="col-sm-1 col-xs-1" ng-hide="project.reachable">privé</span>
        <div class="col-sm-6 col-xs-4">
            <img class="toggle-img" ng-click="togglePrivate()"
                 ng-src="{{project.reachable && 'assets/images/asset_icon_switch_off.png' || 'assets/images/asset_icon_switch_on.png'}}"/>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 ">

            <span class="members-section-title">3. Gestion des connecteurs</span>
            <span class="triangle-right "></span>
        </div>
    </div>

    <div class="row members-section">
        <div class="col-xs-1 ">

        </div>
        <div class="col-xs-10">
            <div class="row">
                <div class="col-md-6 col-lg-3" ng-repeat="connector in project.connectors">
                    <div class='square-box'>
                        <div class='square-content'>
                            <div class="widget square-elt">
                                <div class="square-elt">
                                    <div class="square-elt widget-card">
                                        <div class="square-content-div square-elt">
                                            <div class="square-content-div square-elt btn-connector center-block">
                                                <div class="row row-20">
                                                    <div class="col-xs-12">
                                                        <!--<div class="col-xs-12 widget-center square-elt btn-connector-label">-->
                                                        <span class="pull-right" aria-hidden="true"
                                                              ng-click="editConnector(connector)">
                                                            <img class="img-height-20"
                                                                 src="/assets/images/icon/settings_400x400_s.png"/>
                                                        </span>
                                                        <span class="pull-right" aria-hidden="true"
                                                              ng-click="cloneConnector(connector)">
                                                            <img class="img-height-20" src="/assets/images/icon/copy.png"/>
                                                        </span>
                                                        <span class="pull-left" aria-hidden="true"
                                                              ng-click="deleteConnector(connector)">
                                                            <img class="img-height-20"
                                                                 src="/assets/images/icon/modifier_delete_150x150_s.png"/>
                                                        </span>
                                                    </div>
                                                    <!--</div>-->
                                                </div>
                                                <div class="row row-20">
                                                    <div ng-show="connector.name != null"
                                                         class="col-xs-12 widget-center btn-connector-label"
                                                         ng-attr-title="{{connector.name.length > 30 ? connector.name : undefined }}">
                                                        <span ng-show="connector.name != null" class="col-xs-12 widget-center">
                                                            {{connector.name | limitTo: 30}}{{connector.name.length > 30 ? '...' : ''}}
                                                            &nbsp;
                                                            <img ng-show="connector.description != null" class="img-height-10 widget-center"
                                                                 ng-attr-title="{{connector.description}}"
                                                                 src="/assets/images/icon/info.png"/>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="row row-50">
                                                    <div class="col-xs-12 widget-center">
                                                        <span><img class="img-reponsive" width="80%"
                                                                   ng-src="{{getImageType(connector.type)}}" alt=""/></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class='square-box'>
                        <div class='square-content'>
                            <div class="widget square-elt">
                                <div class="square-elt">
                                    <div class="square-elt widget-card">
                                        <div class="square-content-div square-elt widget-add"
                                             ng-click="addConnector()">
                                            <span
                                                class="content-center widget-add-icon glyphicon glyphicon-plus"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1 ">

        </div>
    </div>


    <div class="row">
        <div class="col-xs-6 ">

            <span class="members-section-title">4. Gestion des membres</span>
            <span class="triangle-right "></span>
        </div>
    </div>

    <div class="row members-section">
        <label class="col-sm-offset-1 col-sm-4 col-xs-offset-1 col-xs-6 control-label">Ajouter un utilisateur : </label>


        <div class="col-sm-7 col-xs-5">

            <div class="search-input input-group" uib-dropdown>
                <input class=" form-control" type="text" uib-dropdown-toggle ng-model="criteria"
                       placeholder="Rechercher un utilisateur par login">
                <ul class="max-width dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                    <li role="menuitem" ng-repeat="user in users | membersIn:project.members| searchUsers:criteria "><a
                        ng-click="addUser(user)">{{user.login}} - {{user.firstname}} {{user.lastname}}</a></li>
                </ul>
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button"><span
                        class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </div>

    <div class="row members-section">

        <div class="row">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Membres du projet</div>


                <!-- Table -->
                <table class="table">
                    <tr>
                        <th class="col-xs-5">Utilisateur</th>
                        <th class="col-xs-5">Rôle</th>
                        <th class="col-xs-2"></th>
                    </tr>
                    <tr ng-repeat="user in project.members">
                        <td>{{user.login}} <span ng-hide="myaccount.login==user.login">- {{user.firstname}} {{user.lastname}}</span><span
                            ng-show="myaccount.login==user.login">(c'est vous)</span></td>
                        <td><span ng-show="user.admin">Administrateur</span>
                            <span ng-hide="user.admin">Utilisateur</span>
                            <img ng-hide="myaccount.login==user.login" height="30px" ng-click="switchAdmin(user)"
                                 ng-src="{{user.admin && 'assets/images/asset_icon_switch_on.png' || 'assets/images/asset_icon_switch_off.png'}}"/>
                        </td>
                        </td>
                        <td ng-switch="myaccount.login==user.login">
                            <button ng-switch-when="false" class="pull-right glyphicon glyphicon-minus"
                                    ng-click="removeUser(user)"></button>
                        </td>
                    </tr>

                </table>
            </div>
        </div>

    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Annuler</button>
    <button class="btn btn-primary" type="button" ng-click="ok()">Enregistrer</button>
</div>
