<div class="modal-header">
    <h3 class="modal-title">Modification du mot de passe</h3>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

          <div class="alert alert-danger" ng-show="errorPassword">
                <strong>Mot de passe erroné!<strong> Vérifiez vos identifiants.
          </div>

          <div class="alert alert-danger" ng-show="doNotMatch">
              Le mot de passe ne correspond pas à sa confirmation!
          </div>

          <div class="alert alert-success" ng-show="success">
                <strong>Vous avez mis à jour votre mot de passe!</strong>
            </div>

            <div class="alert alert-danger" ng-show="error">
                <strong>Oups la mise a jour a échoué!</strong> Merci de réessayer.
            </div>

          <div ng-switch="newPass">
                  
              <div ng-switch-when=false>   

                  <div class="form-group">
                      <label class="control-label" for="currentPassword">Entrez votre mot de passe</label>
                      <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Votre mot de passe"
                             ng-model="password.current">
                  </div>

                  <div>
                      <button class="btn btn-default" type="button" ng-click="cancel()">Annuler</button>
                      <button class="btn btn-primary" type="button" ng-click="checkPassword()" >Vérifier</button>
                  </div>

              </div>

                          
              <div ng-switch-when=true>

                 <form ng-show="!success" name="form" role="form" novalidate ng-submit="" show-validation>

                  <div class="form-group">
                      <label class="control-label" for="newPassword">Nouveau mot de passe</label>
                      <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Votre nouveau mot de passe"
                             ng-model="password.new" ng-minlength=5 ng-maxlength=50 required>
                      <div ng-show="form.newPassword.$dirty && form.newPassword.$invalid">
                          <p class="help-block"
                                 ng-show="form.newPassword.$error.required">
                              Le mot de passe est obligatoire.
                          </p>
                          <p class="help-block"
                                 ng-show="form.newPassword.$error.minlength">
                              Le mot de passe doit faire au moins 5 caractères.
                          </p>
                          <p class="help-block"
                                 ng-show="form.newPassword.$error.maxlength">
                              Le mot de passe ne doit pas dépasser 50 caractères.
                          </p>
                      </div>
                      <password-strength-bar password-to-check="newPassword"></password-strength-bar>
                  </div>
                  <div class="form-group">
                      <label class="control-label" for="confirmPassword">Confirmation du nouveau mot de passe</label>
                      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirmer votre nouveau mot de passe"
                             ng-model="password.confirm" ng-minlength=5 ng-maxlength=50 required>
                      <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                          <p class="help-block"
                                 ng-show="form.confirmPassword.$error.required">
                              La confirmation du mot de passe est obligatoire.
                          </p>
                          <p class="help-block"
                                 ng-show="form.confirmPassword.$error.minlength">
                              Votre confirmation de mot de passe doit faire au moins 5 caractères.
                          </p>
                          <p class="help-block"
                                 ng-show="form.confirmPassword.$error.maxlength">
                               Votre confirmation de mot de passe ne doit pas dépasser 50 caractères.
                          </p>
                      </div>
                  </div>

                  </form>

                        <div ng-show="!success">
                          <button class="btn btn-default" type="button" ng-click="cancel()">Annuler</button>
                          <button class="btn btn-primary" type="button" ng-disabled="form.$invalid" ng-click="update()" >Modifier</button>
                      </div>

                      <div ng-show="success">
                          <button class="btn btn-default" type="button" ng-click="cancel()">Ok</button>
                      </div>

                  </div>
                </div>
          </div>
        </div>
    </div>


