<div ng-repeat="dashboard in myfavourites | isInById:publicdashboards | searchDashboards:criteria">
    <div class="dashboards-box col-xs-12 col-md-12 col-lg-6">
        <div responsive-nav-type class="dashboards-item" ng-class="{'dashboards-item-active': isDashboardSelected(dashboard)}" ng-click="showDashboard(dashboard)">
            <div class="dash_favourite dash_favourite_on" aria-hidden="true" ng-click="removeFavourite(dashboard);$event.stopPropagation()">
                &nbsp;<!--<img style="..." src="/assets/images/icon/public_favoris_on.png" />-->
            </div>
            <span class="dash_name" ng-attr-title="{{dashboard.name.length > 20 ? dashboard.name : undefined }}">{{dashboard.name | limitTo: 20}}{{dashboard.name.length > 20 ? '...' : ''}}</span>

        </div>
    </div>
</div>
<div ng-repeat="dashboard in publicdashboards | excludeById:myfavourites | searchDashboards:criteria">
    <div class="dashboards-box col-xs-12 col-md-12 col-lg-6">
        <div responsive-nav-type class="dashboards-item" ng-class="{'dashboards-item-active': isDashboardSelected(dashboard)}" ng-click="showDashboard(dashboard)">
            <div class="dash_favourite dash_favourite_off" aria-hidden="true" ng-click="addFavourite(dashboard);$event.stopPropagation()">
                &nbsp;<!--<img style="..." src="/assets/images/icon/public_favoris_off.png" />-->
            </div>
            <span class="dash_name" ng-attr-title="{{dashboard.name.length > 20 ? dashboard.name : undefined }}">{{dashboard.name | limitTo: 20}}{{dashboard.name.length > 20 ? '...' : ''}}</span>
        </div>
    </div>
</div>
